---
meta_description: 
meta_tags:
  robots: 
published_localized:
  en: true
title_localized:
  en: Page Not Found | Westhouse Hotel
layout_localized: 
  en: default
label_localized:
  en: 404 Page
permalink_localized:
  en: /page-not-found/
---

<div class="inner-banner pattern bg-cover" style="background-image: url('/assets/images/home/westhouse-hotel-new-york-entrance.jpg');">
  <h1>Page Not Found</h1>
</div>

{% include booking-widget.html %}

<section class="common-details">
  <div class="common-details-container">
    <div class="common-details-row">
      <div class="common-content">
        {% regionblock page_not_found_intro, type:header %}
          <h6>We're sorry but it looks like that page doesn't exist anymore.</h6>
        {% endregionblock %}
        {% regionblock page_not_found_text, type:header %}
          <p>Please view the Sitemap below or go back to the <a href="/">Homepage</a></p>
        {% endregionblock %}
        <ul class="bullet-list">
          {% for link in site.data.navigation.main %}
            <li><a href="{{ link.url | absolute_url }}">{{ link.title }}</a></li>
          {% endfor %}
          {% for link in site.data.navigation.footer %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
