<div class="reservationform">

        <form class="desky" autocomplete="off"  method="get" enctype="multipart/form-data" name="omni_reservation_form_" action="https://westhousehotelnewyork.reztrip.com/search?" target="_self">
            
            <input type="hidden" value="1" name="rooms">
            
            <input type="hidden" name="" value="">
            <div class="calspacer">
            <span class="arrv">

                <i class="fa fa-calendar"></i>
                <div class="squaredance">
                    <input name="arrival_date" id="arrival_date" placeholder="Arrival Date" class="calendarsection" />

                </div>

                <div class="datepicker">
                    <a href="#" class="cls">X</a>
                </div>
            </span>
            </div>
            <div class="calspacer">
            <span class="dept">

            <i class="fa fa-calendar"></i>
            <div class="squaredance">
                <input name="departure_date" id="departure_date" placeholder="Departure Date" class="calendarsection" />
            </div>

            <div class="departdatepicker">
                <a href="#" class="cls">X</a>
            </div>
            </span>
        </div>
         <div class="calspacer">
            <input type="submit" value="Reserve" class="button1" />
        </div>

        </form>
        
        
        <form class="moby" autocomplete="off"  method="get" enctype="multipart/form-data" name="omni_reservation_form_" action="https://westhousehotelnewyork.reztrip.com/search?" target="_self">

                    <input type="hidden" name="" value="">
                     <input type="hidden" name="rooms" value="1">
                    <div class="calspacer">
                        <span class="arrv calsec">

                            <i class="fa fa-calendar"></i>
                            <div class="squaredance">
                                <input name="arrival_date" id="arrival_date" placeholder="Arrival Date" class="calendarsection" />

                            </div>

                            <div class="datepicker">
                                <a href="#" class="cls">X</a>
                            </div>
                        </span>
                    </div>
                    <div class="calspacer">
                        <span class="dept calsec">

                        <i class="fa fa-calendar"></i>
                        <div class="squaredance">
                            <input name="departure_date" id="departure_date" placeholder="Departure Date" class="calendarsection" />
                        </div>
                        <div class="departdatepicker">
                            <a href="#" class="cls">X</a>
                        </div>
                        </span>
                    </div>

                    <div class="calspacer">
                     <input type="submit" value="Reserve" class="button1" />
                    </div>
                    
                	

                </form>

    </div>