 <div class="reservationform interiorform">

        <form class="desky" autocomplete="off"  method="get" enctype="multipart/form-data" name="omni_reservation_form_" action="https://westhousehotelnewyork.reztrip.com/search?" target="_self">
                     <input type="hidden" name="rooms" value="1">
                    <input type="hidden" name="" value="">
                    <div class="calspacer">
                        <span class="arrv calsec">

                            <i class="fa fa-calendar"></i>
                            <div class="squaredance">
                                <input name="arrival_date" id="arrival_date" placeholder="Arrival Date" class="calendarsection" />

                            </div>

                            <div class="datepicker">
                                <a class="cls">X</a>
                            </div>
                        </span>
                    </div>
                    <div class="calspacer">
                        <span class="dept calsec">

                        <i class="fa fa-calendar"></i>
                        <div class="squaredance">
                            <input name="departure_date" id="departure_date" placeholder="Departure Date" class="calendarsection" />
                        </div>
                        <div class="departdatepicker">
                            <a class="cls">X</a>
                        </div>
                        </span>
                    </div>

                    <div class="calspacer">
                     <input type="submit" value="Reserve" class="button1" />
                    </div>

                </form>

        <form class="moby" style="position:relative;" autocomplete="off"  method="get" enctype="multipart/form-data" name="omni_reservation_form_" action="https://westhousehotelnewyork.reztrip.com/search?" target="_self">
                    
                    <a href="#" class="openarrival" style="display: block; position: absolute; height: 100%; width: 100%; top: 0; left: 0;"></a>
                     <input type="hidden" name="rooms" value="1">
                    <input type="hidden" name="" value="">
                    <div class="calspacer">
                        <span class="arrv calsec">
                            
                           
                            <i class="fa fa-calendar"></i>
                            <div class="squaredance">
                                
                                <input name="arrival_date" id="arrival_daterrr" placeholder="Arrival Date" class="calendarsection" readonly/>

                            </div>

                            <div class="datepicker">
                                <a class="cls">X</a>
                            </div>
                        </span>
                    </div>
                    <div class="calspacer">
                        <span class="dept calsec">

                        <i class="fa fa-calendar"></i>
                        <div class="squaredance">
                            <input name="departure_date"  id="departure_daterrr" placeholder="Departure Date" class="calendarsection" readonly/>
                        </div>
                        <div class="departdatepicker">
                            <a class="cls">X</a>
                        </div>
                        </span>
                    </div>

                    <div class="calspacer">
                     <input type="submit" value="Reserve" class="button1" />
                    </div>
                    
                	

                </form>


            </div>

            <div class="clear"></div>