<div class="footer-container px-0">

  <div class="email-signup-row mx-0">

    <div class="email-signup-content">
      <p>To learn more about WestHouse Hotel New York events, news and our latest promotions, please enter your name and email.</p>
    </div>

    <div class="email-signup-form">
      <div class="email-signup">
        <form method="post" id="eclubCheck" action="https://web.data2gold.com/?2B350D60272B00676D5M6S2W3C1M6I4L3F5B4Z4N6D14610B5L5F236I6R0J0Y6C190D6H5872042F4B1O5P3368" class="eClub" novalidate>
          <div class="form-group">
            <input type="text" class="form-control" name="FIRSTNAME" maxlength="40" value="" id="firstname" placeholder="Your Name" aria-label="First Name" required>
          </div>
          <div class="error-form" id="firstnameError"></div>
          <div class="form-group">
            <input type="email" class="form-control" size="40" name="email" maxlength="150" id="email_address" placeholder="Your Email" aria-label="Your Email">
          </div>
          <div class="error-form" id="emailError"></div>
          <div class="form-group">
            <div class="g-recaptcha" data-sitekey="6LdWgCAUAAAAAJvOai05x8FkahvQcgEDAsAdHq-D" required></div>
          </div>
          <div class="error-form" id="grecaptcharesponseError"></div>
          <div class="subit-btn-holder">
            <button type="submit" id="form_submit" class="common-btn" aria-label="Submit">Submit</button>
          </div>
          <input type="HIDDEN" name="PEA" value="" />
          <input type="HIDDEN" name="PEACC" value="" />
          <input type="HIDDEN" name="PEABC" value="" />
          <input type="HIDDEN" name="PEASUBJECT" value="LOOKUP" />
          <INPUT TYPE="HIDDEN" NAME="NewUser" VALUE="1">
          <INPUT TYPE="HIDDEN" NAME="PrThanksPage" VALUE="1">
          <INPUT TYPE="HIDDEN" NAME="ftpbox" VALUE="01611">
          <INPUT TYPE="HIDDEN" NAME="PRThanksTemplate" VALUE="ETHANKS">
          <input type="hidden" name="sys_formtype" value="eClub">
          <input type="hidden" name="hv_preftype" value="eClub" />
          <input type="hidden" name="ECWT" value="EWELCOME" />
        </form>
      </div>
    </div>
  </div>

  {% unless page.url contains "/save-the-children" %}
    <section class="save-the-child-section">
      <div class="save-the-child-container">
        <div class="logo-container">
          <img src="/assets/images/save-the-child-logo.png" alt="Save The Children">
        </div>
        <div class="description-container">
          <div class="description-center">
            <h2>DONATE TODAY &amp; MAKE A DIFFERENCE</h2>
            <p>WESTHOUSE is a proud supporter of Save the Children, internationally recognized for giving children a healthy start, the opportunity to learn and protection from harm. To make a difference in a child’s life, please donate today.</p>
          </div>
        </div>
        <div class="button-container">
          <a href="/save-the-children/" class="button-common" rel="nofollow">MORE INFO</a>
        </div>
        <div class="clear-both"></div>
      </div>
    </section>
  {% endunless %}

  <div class="utility-row">

    <div class="col-md-6">
      <div class="utility-left">
        <div class="row">

          <div class="col-sm-8 p-0">
            <a href="/"><img src="/assets/images/footer-logo.png" alt="Westhouse Hotel New York" class="footer-logo"></a>
          </div>

          <div class="col-sm-4 p-0">
            <div class="social">
              <a href="https://www.facebook.com/{{ site.data.social.facebook.username }}/" target="_blank" aria-label="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="https://twitter.com/{{ site.data.social.twitter.username }}/" target="_blank" aria-label="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="https://instagram.com/{{ site.data.social.instagram.username }}/" target="_blank" aria-label="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="https://plus.google.com/{{ site.data.social.googleplus.username }}/" target="_blank" aria-label="Google Plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
              <a href="https://www.youtube.com/{{ site.data.social.youtube.username }}/" target="_blank" aria-label="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
              <a href="https://www.tripadvisor.com/{{ site.data.social.tripadvisor.username }}/" target="_blank" aria-label="Tripadvisor"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
            </div>
          </div>

          <div class="col-xl-6 p-0">
            <div class="address">
              <p>© 2015 WESTHOUSE HOTEL<br>
                <a href="https://www.google.com/maps/place/WestHouse+New+York/@40.7646719,-73.9814936,17z/data=!4m6!1m3!3m2!1s0x89c258f8245a4eab:0x86165540b81f3d02!2sWestHouse+New+York!3m1!1s0x89c258f8245a4eab:0x86165540b81f3d02">201 WEST 55TH STREET<br> NEW YORK, NY 10019</a><br>
                <a href="tel:1 800 355 WEST (9378)">1 800 355 WEST (9378)</a><br>
                <a href="mailto:welcome@westhousehotelnewyork.com">welcome@westhousehotelnewyork.com</a></p>
            </div>
          </div>

          <div class="col-xl-6 p-0">
            <div class="awards">
              <a href="https://www.slh.com/hotels/westhouse-hotel-new-york/" target="_blank">
                <img src="/assets/images/small-luxury-hotel.png" alt="Small Luxury Hotel">
              </a>
              <a href="https://www.cntraveler.com/galleries/2014-11-19/top-25-hotels-in-new-york-city-readers-choice-awards-2014/33" target="_blank">
                <img src="/assets/images/nyc-finalist.png" alt="Conde Nast Traveler">
              </a>
              <a href="https://www.travelandleisure.com/worlds-best/hotels-in-new-york#west-house" target="_blank">
                <img src="/assets/images/worldsbest.png" alt="World's Best Awards">
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="utility-right">
        <h2>FROM THE WESTHOUSE YOUR HOUSE BLOG</h2>
        <div class="row">
          {% assign blogs = site.data._models.blog | sort: 'datemeta' | reverse %}
          {% for blog in blogs limit: 2 %}
            <div class="col-lg-6">
              <a href="/blog/{{ blog.url_friendly_name }}/" class="footer-blog-item">
                <div class="footer-blog-image bg-cover" style="background-image:url('{{ blog.image.url }}')"></div>
                <h4>{{ blog.title }}</h4>
              </a>
            </div>
          {% endfor %}
        </div>
        <div class="btn-holder"><a href="/blog/" class="btn-transparent">View More</a></div>
      </div>
    </div>

  </div>

</div>

<div class="copyrights">
  <div class="copyrights-row">

    <div class="col-lg-2">
      <div class="highgate-logo">
        <a href="http://highgate.com/" target="_blank"><img src="/assets/images/highgate-logo-white.png" alt="Highgate Hotels"></a>
      </div>
    </div>

    <div class="col-lg-10">
      <div class="footer-nav">
        {% for link in site.data.navigation.footer %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
