<meta charset="utf-8">

{% include analytics.html %}

{% include seo.html %}

<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css" type="text/css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://plugins.traveltripper.io/v2/css/booking-widget.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.4/css/lightgallery.min.css">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">

<!--[if IE]>
  <link rel="stylesheet" href="{{ '/assets/css/bootstrap-ie9.css' | absolute_url }}">
  <script src="https://cdn.jsdelivr.net/g/html5shiv@3.7.3"></script>
<![endif]-->
<!--[if lt IE 9]>
  <link rel="stylesheet" href="{{ '/assets/css/bootstrap-ie8.css' | absolute_url }}">
<![endif]-->

<script src="https://use.fontawesome.com/8e70f1644b.js"></script>

<script id="gtsgig-boot" src="https://widgets.gtsgig.com/boot.js?hotel=westhousehotelnewyork" async defer></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="">
