<div class="merch-sec" rt3-rate-shopping="rateShopping">
    <div class="container">
        <div class="littleimage" style="background-image: url(/assets/images/4332/original/WestHouse_Room_2512_Bedroom_v4s.jpg);"></div>
        <div class="merch-copy">
            <h1>
                BEST RATE. EVERY TIME.
                <span>
                    Always receive the best possible rate by booking through our website, 
                    reservations line or contacting the hotel directly.
                </span>
            </h1>
            <br/>
        </div>
        <div class="reserve" ng-show="!rateShopping.show_brg">
            <a href="https://westhousehotelnewyork.reztrip.com/" class="button1">Search Availability</a>
            <!--<a href="" class="button1">Reserve Now</a>-->
        </div> 
        
        <span class="closethiswindow">X</span>
    
        <div class="bookrate" ng-show="rateShopping.show_brg">
            <a class="directrate" href="https://westhousehotelnewyork.reztrip.com/en/bookings/56460063b5ad64009b00059e/details?currency=USD">
    			<div>Direct Rate</div>
    			<div class="directprice">$[[rateShopping.discounted_rate | noFractionCurrency]]</div>
			</a>
		</div>
    </div>
</div>

<div class="merchmob" style="display: none;">
	<div class="container">
		
		<div class="mem-desc">
			<h1>BEST RATE. EVERY TIME.</h1>
			<p>Always receive the best possible rate by booking through our website, reservations line or contacting the hotel directly.</p>
			<a style="float: right;" href="" class="button1">Reserve Now</a>
        </div>
		
		<!-- <div class="reserve"><a href="" class="button1">Search Availability</a></div>-->
		
		<span class="closethiswindow">X</span>
		
        <div class="mem-bookrate">
			<div class="mem-directrate">
				<div ng-show="!details.brg.discounted_rate">No Availability</div>
				<div ng-show="details.brg.discounted_rate">Direct Rate</div>
				<div class="directprice" ng-show="details.brg.discounted_rate">$[[details.brg.discounted_rate | noFractionCurrency]]</div>
			</div>
			<div class="othersrate" ng-show="details.brg.rates.length">
				<ul>
					<li ng-repeat="rate in details.brg.rates">$[[rate.rate | currency:""]]  -  [[rate.provider]]</li>
				</ul>
			</div>
		</div>
		
		<div class="reservenowbutton" ng-show="details.brg.discounted_rate">
		
	        <form action="https://westhousehotelnewyork.reztrip.com/en/bookings" method="POST">
              <input type="hidden" name="rooms" value="[[details.params.rooms]]"/>
              <input type="hidden" name="adults" value="[[details.params.adults]]"/>
              <input type="hidden" name="children" value="[[details.params.children]]"/>
              <input type="hidden" name="arrival_date" value="[[details.params.arrival_date]]">
              <input type="hidden" name="departure_date" value="[[details.params.departure_date]]">
              <input type="hidden" name="room_id" value="[[details.params.room_id]]" >
              
              <input type="hidden" name="avg_brg_discounted_price" value="[[details.brg.avg_brg_discounted_price]]"/>
              <input type="hidden" name="avg_brg_original_price" value="[[details.brg.avg_brg_original_price]]"/>
              <input type="hidden" name="action_name" value="details"/> <!-- magic constant value -->
              <input type="hidden" name="is_brg_room" value="[[details.brg.show_brg]]"/>
              <input type="hidden" name="is_brg_request" value="[[details.brg.show_brg]]"/>
              <input type="hidden" name="discount_threshold_exceeded" value="[[details.brg.discount_threshold_exceeded]]"/>
              <input type="hidden" name="brg_rate_rule_name" value="[[details.brg.dpr_name]]"/>
              
              <input class="button2" type="submit" class="btn btn-success btn-submit" value="Reserve now">
            </form>
		</div>
    </div>
</div>