<div id="offer-popup" class="offer-popup modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-wrapper">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-content">
                <div class="modal-content-inner">
                    <p>Join our mailing list to unlock <b>50% savings</b> on all rooms!</p>
                    <form class="jotform-form" action="https://web.data2gold.com/?2B350D60272B00676D5M6S2W3C1M6I4L3F5B4Z4N6D14610B5L5F236I6R0J0Y6C190D6H5872042F4B1O5P3368" method="post" name="form_72972211982461" id="72972211982461" accept-charset="utf-8">
  <input type="hidden" name="formID" value="72972211982461" />
                    <input type="email" name="email" value="" id="email_address" placeholder="Enter Your Email" required="required">
                    <input type="hidden" id="input_4" name="q4_bookNow" data-type="input-textbox" class="form-textbox" size="20" value="https://westhousehotelnewyork.reztrip.com/en/special_offer?rate_code=GETAWA" data-component="textbox" />
                    <input type="HIDDEN" name="PEA"         value="" />
                <input type="HIDDEN" name="PEACC"         value="" />
                <input type="HIDDEN" name="PEABC"         value="" />
                <input type="HIDDEN" name="PEASUBJECT"      value="LOOKUP" />
                <INPUT TYPE="HIDDEN" NAME="NewUser"         VALUE="1">
                <INPUT TYPE="HIDDEN" NAME="PrThanksPage"      VALUE="1">
                <INPUT TYPE="HIDDEN" NAME="ftpbox"        VALUE="01611">
                <INPUT TYPE="HIDDEN" NAME="PRThanksTemplate"    VALUE="ETHANKS">
                <input type="hidden" name="sys_formtype"      value="eClub">
                <input type="hidden" name="hv_preftype"       value="eClub" />
                <input type="hidden" name="ECWT"              value="EWELCOME" />
                    <div>
                      <button id="input_2" type="submit" class="button-common btn-blue" data-component="button">UNLOCK NOW!</button>
                   </div>
               </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  if (!Cookies.get('popup')) {
    $('#offer-popup').show();
    //$('#offer-popup').modal();
    Cookies.set('popup', '1', {
      expires: 1
    });
  }
   // $('#offer-popup').modal();
    $(document).ready(function(){
        $(".close").click(function(){
            $("#offer-popup").fadeOut();
        });
    });
</script>
