<!--Offer Promo Tile here-->
<section class="offer-promo-tile unlock">
  <h3>Unlock Special Offer</h3><a href="javascript:void(0);" data-toggle="modal" data-target="#offer-promo-popup" title="Unlock Offer" class="common-btn"><i class="fa fa-unlock-alt" aria-hidden="true"></i> UNLOCK <i class="fa fa-angle-right" aria-hidden="true"></i></a>
</section>
<div class="promo-code-reminder">
    <div class="reminder-text">
        <h4>CLICK BELOW OR USE OFFER-CODE <span>#WESTHOUSE</span> + UNLOCK 3 FREE BONUS REWARDS</h4>
        <i><sup>*</sup>Promo code valid only once.</i>
    </div>
    <a href="https://westhousehotelnewyork.reztrip.com/classic/en/special_offer?accessCode=&action=show&controller=landings&locale=en&rate_code[]=UNLOCK&rate_code[]=UNLOCK&starting_page=special_offer&vr=3#WESTHOUSE" title="Book Now" id="Unlock-Book-Now" class="common-btn">Book Now</a>
</div>

<!--Offer Promo popup here-->
<div id="offer-promo-popup" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <a type="button" class="close" id="mclose" data-dismiss="modal">&times;</a>
                <div class="signup">
                    <h3>Subscribe Now to Unlock<br>Our Best Hidden Offers!</h3>
                    <form action="https://submit.jotform.me/submit/80502322204439/" method="post" name="form_80502322204439" id="80502322204439" accept-charset="utf-8"> 
                        <input type="hidden" name="formID" value="80502322204439">
                        <div class="input-group">
                            <input type="email" class="form-control" id="input_3" name="q3_email" value="" placeholder="Your Email Address" required="" aria-lable="Email offer">
                            <span class="input-group-btn"><button id="input_2" class="btn-lt-blue" type="submit">Submit</button></span>
                        </div>
                        <span class="agree_to_sub"><input id="input_4_0" name="q4_input4[]" value="By submitting your email you agree to subscribe to Insider Offers direct from the Hotel" type="checkbox" checked>By submitting your email you agree to subscribe to Insider Offers direct from the Hotel</span>
                    </form>
                </div>
                <div class="message">
                    <h5>YOU ARE ALL SET TO ACCESS OUR BEST OFFERS </h5>
                    <h3 class="offer-title">CLICK BELOW OR USE OFFER-CODE <span>#WESTHOUSE</span> + UNLOCK 3 FREE BONUS REWARDS</h3>
                    <a href="https://westhousehotelnewyork.reztrip.com/classic/en/special_offer?accessCode=&action=show&controller=landings&locale=en&rate_code[]=UNLOCK&rate_code[]=UNLOCK&starting_page=special_offer&vr=3#WESTHOUSE" title="Book Now" class="common-btn" id="Unlock-Book-Now">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
