html {
  font-size: $font-size-base;
}

body {
  margin: 78px 0 0;
  padding: 0;
  font-family: $primary-light;
  @include media-breakpoint-up(md) {
    margin: 113px 0 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3rem;
}

h1 {
  position: absolute;
  top: 36%;
  right: 0;
  left: 0;
  z-index: 2;
  font-family: $secondary-script;
  font-size: $type-size-4;
  line-height: normal;
  color: $white;
  text-align: center;
  @include rotate(-7);
  @include media-breakpoint-up(md) {
    font-size: $type-size-2;
  }
  @include media-breakpoint-up(lg) {
    font-size: $type-size-1;
  }

  .culinary-guide & {
    position: relative;
    margin-bottom: 40px;
    font-family: $primary-thin;
    font-size: 24px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: -.025em;
    transform: none;
    @include media-breakpoint-up(md) {
      font-size: 35px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 40px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 55px;
    }
  }

}

h2 {
  font-family: $google-font;
  font-size: $type-size-8;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  letter-spacing: .06rem;
  @include media-breakpoint-up(lg) {
    font-size: $type-size-5;
  }
}

h3 {
  margin-bottom: 1rem;
  font-family: $primary-thin;
  font-size: $type-size-11;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  transform: none;
  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
    font-size: $type-size-3;
  }
}

h4 {
  font-family: $google-font;
  font-size: $type-size-10;
  color: $small-heading;
  text-transform: uppercase;
}

h5 {
  font-family: $primary-bold;
  font-size: $type-size-7;
  color: $btn-hover;
  letter-spacing: .063em;
}

h6 {
  padding-bottom: 1.25em;
  font-family: $primary-bold;
  font-size: $type-size-8;
  font-weight: 500;
  color: $primary;
  text-transform: uppercase;
}

.small,
small {
  font-size: $type-size-6;
}

.slanting-text {
  font-family: BiloxiScript;
  font-size: $type-size-4;
  line-height: normal;
  color: $heading;
  @include rotate(-7);
  @include media-breakpoint-up(xl) {
    font-size: $type-size-2;
  }
}

.bullet-list {
  margin: 0 0 2rem 1.2rem;
  padding: 0;
  @include media-breakpoint-up(md) {
    margin: 0 0 1.2rem 3rem;
  }

  li {
    padding-bottom: .7rem;
    font-family: $primary-light;
    font-size: 1rem;
    color: $secondary;
    list-style-type: disc;
  }
}

p {
  margin: 0;
  padding-bottom: 1.2rem;
  font-family: $primary-light;
  font-size: .875rem;
  font-weight: 300;
  line-height: 1.563rem;
  color: $secondary;
  letter-spacing: .01rem;

  span {
    font-family: $google-font;
    font-weight: 700;
    color: $primary;
  }

  a {
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  ul {
    @extend .bullet-list;
  }
}

strong, b {
  font-family: $primary-bold;
  color: $primary;
}

a {
  color: $link;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

input {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

button {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.container {
  max-width: none;
  @include media-breakpoint-up(md) {
    width: 90%;
  }
}

//* Links
a {
  text-decoration: none;

  &:active,
  &:hover {
    outline: 0;
  }
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

//* Fix IE9 SVG bug
svg:not(:root) {
  overflow: hidden;
}
