@font-face {
  font-family: 'GothamBook';
  src: url('/assets/fonts/GothamBook.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/GothamBook.woff') format('woff'),
       url('/assets/fonts/sGothamBook.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBold';
  src: url('/assets/fonts/gotham-bold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/gotham-bold.woff') format('woff'),
       url('/assets/fonts/gotham-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamLight';
  src: url('/assets/fonts/gotham-light.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/gotham-light.woff') format('woff'),
       url('/assets/fonts/gotham-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamThin';
  src: url('/assets/fonts/gotham-thin.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/gotham-thin.woff') format('woff'),
       url('/assets/fonts/gotham-thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamMedium';
  src: url('/assets/fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Gotham-Medium.woff') format('woff'),
       url('/assets/fonts/Gotham-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBlack';
  src: url('/assets/fonts/GothamBlack.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/GothamBlack.woff') format('woff'),
       url('/assets/fonts/original/GothamBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Extrabold';
  src: url('/assets/fonts/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/OpenSans-Extrabold.woff') format('woff'),
       url('/assets/fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BiloxiScript';
  src: url('/assets/fonts/BiloxiScript.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/BiloxiScript.woff') format('woff'),
       url('/assets/fonts/BiloxiScript.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirMedium';
  src: url('/assets/fonts/avenir.eot');
  src: url('/assets/fonts/avenir.eot') format('embedded-opentype'),
       url('/assets/fonts/avenir.woff') format('woff'),
       url('/assets/fonts/avenir.ttf') format('truetype');
}

@font-face {
  font-family: 'AvenirBlack';
  src: url('/assets/fonts/avenir95black.eot');
  src: url('/assets/fonts/avenir95black.eot') format('embedded-opentype'),
       url('/assets/fonts/avenir95black.woff') format('woff'),
       url('/assets/fonts/avenir95black.ttf') format('truetype');
}
