// Footer Elements
// ==========================================================================

.footer {
  padding: 2.5rem 0 0;
  text-align: center;
  @include media-breakpoint-up(md) {
    text-align: left;
  }

  .footer-container {
    @include make-container();
  }

  .email-signup-row {
    @include make-row;
    padding: 2.5rem 0;
    background-color: $secondary-bg;
    border-top: solid 1px $border-two;
    border-bottom: solid 1px $border-two;
    @include media-breakpoint-up(md) {
      padding-right: 5%;
      padding-left: 5%;
    }

    p {
      font-size: $type-size-5;
      @include media-breakpoint-down(sm) {
        padding-bottom: 2rem;
      }
    }
  }

  .email-signup-content {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(5);
    }
  }

  .email-signup-form {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(7);
    }
  }

  .email-signup {
    .form-control {
      height: 3.5rem;
      font-family: $secondary-medium;
      color: $secondary;
      font-size: $type-size-8;
      text-transform: uppercase;
      letter-spacing: .04rem;
      border: 1px solid $border-three;
      padding: 0 1.250rem;
      border-radius: 0;
    }

    .subit-btn-holder {
      text-align: right;
    }

    .common-btn {
      width: 100%;
      cursor: pointer;
      border: 0;
      @include media-breakpoint-up(sm) {
        width: auto;
      }
      &:disabled {
        cursor: default;
      }
    }
    .tnc {
      margin-bottom: 15px;
      a {
        text-decoration: underline;
      }
    }
  }

  .save-the-child-section {
    padding: 0;
    background-color: #f4f4f4;

    .save-the-child-container {
      display: table;
      max-width: 100%;
      margin: 0 auto;
      padding: 40px 80px;
      @media (max-width: 1000px) {
        display: block;
        padding: 20px 80px;
      }
      @media (max-width: 767px) {
        padding: 22px 20px 10px;
      }

      .button-container,
      .description-container,
      .logo-container {
        display: table-cell;
        vertical-align: middle;
      }

      @media (max-width: 1000px) {
        .button-container,
        .description-container,
        .logo-container {
          display: block;
          width: 100%;
          text-align: center;
        }
      }

      .logo-container {
        width: 20%;
        @media (max-width: 1000px) {
          width: 100%;
          margin: 0 auto;
          padding-bottom: 20px;
        }

        img {
          width: 100%;
          @media (max-width: 1000px) {
            max-width: 300px;
          }
          @media (max-width: 400px) {
            max-width: 265px;
            margin-top: 20px;
          }
        }

      }

      .description-container {
        width: 70%;
        padding: 0 40px;
        @media (max-width: 1000px) {
          width: 100%;
          padding: 0;
        }

        .description-center h2 {
          margin-bottom: 10px;
          padding: 0;
          font-family: 'GothamBold';
          font-size: 22px;
          font-weight: 500;
          color: #000;
          text-transform: uppercase;
          @media (max-width: 767px) {
            font-size: 20px;
          }
        }

        .description-center p {
          margin: 0;
          padding: 0;
          font-family: 'Open Sans', Helvetica, Arial, sans-serif;
          font-size: 15px;
          font-weight: 400;
          line-height: 1.6;
          color: #434343;
        }

      }

      .button-container {
        width: 10%;
        text-align: right;
        @media (max-width: 1000px) {
          width: 100%;
          margin: 20px 0;
          text-align: center;
        }

        .button-common {
          display: inline-block;
          min-width: 106px;
          padding: 10px 30px;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          font-weight: 700;
          line-height: 29px;
          color: #fff;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: .055em;
          background: #222;

          &:hover {
            color: #fff;
            background-color: #222;
          }

        }

      }

      .clear-both {
        clear: both;
      }

    }

  }

  .utility-row {
    @extend .row;
    background-color: $white;
    margin: 2.5rem 0;
    position: relative;
    @include media-breakpoint-up(md) {
      margin: 2.5rem 5%;
    }

    &:before {
      @include media-breakpoint-up(md) {
        @include absolute(0,50%,auto,auto,1px,100%); // (top,right,bottom,left,width,height)
        background: $border-two none repeat scroll 0 0;
      }
    }
  }

  .utility-left {
    @include media-breakpoint-up(md) {
      padding-right: 2rem;
    }
  }

  .footer-logo {
    max-width: 220px;
    margin: 0 auto 2rem;
    @include media-breakpoint-up(md) {
      max-width: 94%;
      margin: 0;
    }
  }

  .address {
    padding: 2.5rem 1rem 0 0;

    p {
      font-size: $type-size-6;
      line-height: 1.8rem;

      a {
        color: $secondary;
        overflow-wrap: break-word;
        word-wrap: break-word;

        &:hover {
          color: $secondary;
        }
      }
    }
  }

  .awards {
    padding: 1rem 0 0;
    @include media-breakpoint-up(xl) {
      padding: 2.5rem 0 0;
    }

    a {
      display: inline-block;
      max-width: 5.5rem;

      img {
        width: 100%;
      }
    }
  }

  .utility-right {
    @include media-breakpoint-up(md) {
      padding-left: 2rem;
    }

    .footer-blog-image {
      height: 10rem;
    }

    h2 {
      text-align: center;
      color: $light-heading;
      font-size: $type-size-6;
      padding-bottom: 1.875rem;
      font-weight: 600;
      margin-top: 2rem;
      @include media-breakpoint-up(md) {
        text-align: right;
        margin-top: 0;
      }
    }

    h4 {
      text-align: center;
      padding: 1rem;
    }

    .btn-holder {
      text-align: center;
      border-top: solid 1px $border-two;
      position: relative;
    }
  }
}

.copyrights {
  padding: 1rem 15px;
  background-color: $dark-bg;
  text-align: center;
  @include media-breakpoint-up(lg) {
    text-align: left;
    padding: 1rem 5%;
  }

  .copyrights-row {
    @include make-row();
  }

  .highgate-logo {
    width: 45px;
    margin: 0 auto 1rem;
    @include media-breakpoint-up(lg) {
      margin: 0;
    }

    img {
      width: 100%;
    }
  }

  .footer-nav {
    @include media-breakpoint-up(lg) {
      text-align: right;
    }

    a {
      display: inline-block;
      margin: .5rem .3rem;
      color: $white;
      font-family: $google-font;
      font-weight: 700;
      font-size: $type-size-9;
      line-height: 1rem;
      text-transform: uppercase;
      transition: $global-transition;
      @include media-breakpoint-up(xl) {
        margin: .875rem;
        line-height: 1.688rem;
      }
    }
  }
}
