.pattern {
  position: relative;

  &:after {
    @include absolute(0,0,0,0,100%,100%); // (top,right,bottom,left,width,height)
    z-index: 1;
    background: url('/assets/images/texture.png');
    opacity: .5;
  }
}

.transparent-overlay {
  position: relative;

  &:after {
    @include absolute(0,0,0,0,100%,100%); // (top,right,bottom,left,width,height)
    z-index: 2;
    background-color: rgba($black, 0.8);
  }
}
@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1.0);
  }

  100% {
    -webkit-transform: scale(1.2);
  }
}
@-moz-keyframes zoom {
  0% {
    -moz-transform: scale(1.0);
  }

  100% {
    -moz-transform: scale(1.2);
  }
}
@-o-keyframes zoom {
  0% {
    -o-transform: scale(1.0);
  }

  100% {
    -o-transform: scale(1.2);
  }
}
@keyframes zoom {
  0% {
    transform: scale(1.0);
  }

  100% {
    transform: scale(1.2);
  }
}

.zoom {
  -webkit-animation-name: zoom;
  -moz-animation-name: zoom;
  -o-animation-name: fadeIn;
  animation-name: zoom;
}

.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.floating {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  transition: $global-transition;

  &:hover {
    color: $white;

    .floating-text {
      bottom: 3rem;
    }
  }

  h2 {
    position: absolute;
    bottom: 1.300rem;
    right: 1.500rem;
    transition: $global-transition;
    @include media-breakpoint-up(md) {
      bottom: 1.875rem;
      right: 2.500rem;
    }
  }
}

.carousel-common {
  .carousel-item {
    height: 300px;
    @include media-breakpoint-up(md) {
      height: 700px;
    }
  }

  .carousel-control-prev {
    width: 5%;
    left: -22px;
    @include media-breakpoint-up(sm) {
      left: -30px;
    }
    @include media-breakpoint-up(md) {
      left: -5%;
    }
  }

  .carousel-control-next {
    width: 5%;
    right: -22px;
    @include media-breakpoint-up(sm) {
      right: -30px;
    }
    @include media-breakpoint-up(md) {
      right: -5%;
    }
  }

  .carousel-control-prev-icon {
    width: 10px;

    img {
      width: 100%;
    }
    @include media-breakpoint-up(md) {
      width: 22px;
    }
  }

  .carousel-control-next-icon {
    width: 10px;

    img {
      width: 100%;
    }
    @include media-breakpoint-up(md) {
      width: 22px;
    }
  }

  .carousel-indicators {
    top: -1.25rem;
    right: 0;
    bottom: auto;
    left: auto;
    margin: 0;
    @include media-breakpoint-up(md) {
      right: .75rem;
    }

    li {
      width: 7px;
      height: 7px;
      background-color: rgba($black, 0.5);
      border-radius: 50% 50%;
      cursor: pointer;
      margin-left: 4px;
      margin-right: 4px;
    }

    .active {
      background-color: rgba($black, 0.9);
    }

    &.center-indicators {
      top: auto;
      right: 0;
      bottom: 1rem;
      left: 0;
    }
  }
}

.social {
  max-width: 140px;
  margin: 0 auto;
  @include media-breakpoint-up(md) {
    margin: 0 0 0 .5rem;
  }
  @include media-breakpoint-up(xl) {
    margin: 0 0 0 1.8rem;
  }

  .fa {
    vertical-align: middle;
  }

  a {
    width: 2.5rem;
    height: 2.5rem;
    border: solid 3px $btn-two;
    display: inline-block;
    margin-bottom: 5px;
    background-color: $btn-two;
    color: $white;
    font-size: 1.2rem;
    text-align: center;
    transition: $global-transition;

    &:hover {
      background-color: $white;
      color: $btn-two;
    }
  }
}

.bold-text {
  font-weight: 700;
}

.inner-banner {
  margin: 0 15px 2rem;
  min-height: 300px;
  @include media-breakpoint-up(md) {
    width: calc(100% - 100px);
    margin: 0 auto 2rem;
    min-height: 600px;
  }
}

.italic-text {
  font-style: italic;
}
/* Common detials page styles */

.common-details {
  .common-details-container {
    @extend .container;
    max-width: 90%;
    @include media-breakpoint-up(md) {
      max-width: 80%;
    }
  }

  .common-details-row {
    @include make-row();
  }

  h2 {
    color: $primary;
    margin-bottom: 2rem;
  }

  .left {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
  }

  .right {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
  }

  .right-content {
    @include media-breakpoint-up(md) {
      padding: 0 0 0 2rem;
    }
  }

  h3 {
    font-size: $type-size-5;
    @include media-breakpoint-up(md) {
      font-size: $type-size-14;
    }
    @include media-breakpoint-up(lg) {
      font-size: $type-size-4;
      padding-bottom: 2rem;
    }
  }

  .common-content {
    width: 100%;
    margin: 0 auto;

    h6 {
      line-height: 1.8rem;
    }
  }

  ul {
    @extend .bullet-list;
  }

  .fixed-width {
    width: 40%;
    margin: 0 auto;
    text-align: center;
  }

  .bullet-list {
    li {
      font-size: .875rem;
    }
  }
}

.common-intro {
  @extend .container;
  text-align: center;
  padding-bottom: 2rem;
  @include media-breakpoint-up(md) {
    width: 80%;
  }

  h3 {
    font-size: 3.313rem;
  }
}
/* loading */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: .5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.5) -1.5em 0 0 0, rgba(255, 255, 255, 0.5) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
