.special-banner-bar {
  max-width: 100%;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
  background-color: #161515;
  h2,a {
    display: inline-block;
    margin: 0 15px;
    vertical-align: middle;
  }
  h2 {
    font-size: $type-size-5;
    line-height: 1.3rem;
    color: $white;
    text-transform: uppercase;
    strong {
      color: $white;
    }
  }
  a {
    display: inline-block;
    color: $white;
    text-shadow: none;
    text-transform: uppercase;
    letter-spacing: .17em;
    background-color: transparent;
    border: solid 1px $white;
    border-radius: 0;
    transition: all .3s ease;
    &:hover {
      color: $primary;
      background-color: $white;
    }
  }
}
