{% assign template_class = 'page-amenities' %}

{% include header.html %}

	
		<div id="featuredcontent" style="background-image: url(/assets/images/3692/original/Spherical-WestHouse-7070.jpg);">

			<h1 class="contenttitle">Amenities</h1>

			<div class="reserve"><a class="button1" href="#">Reserve</a></div>

		</div>

		<div id="contentwidget">
		   <div class="logo"><a href="/"><img src="/assets/images/712/original/logo3.png" alt="logo3" /></a></div>

           <!-- include booking form -->

            {% include booking_form_interior.html %}

            <!-- // include booking form -->
		</div>

		<div class="subnav">
			<ul>
			
			    {% for Amenities in site.data._models.Amenities %}

        		<li><a href="{{ Amenities.id | permalink: model_dir: 'westhouse-hotel-amenities-nyc' }}">{{ Amenities.title }}</a></li>
                {% endfor %}
				
			</ul>
		</div>
		
        <div class="subnavmobile">
			<ul>
				{% for Amenities in site.data._models.Amenities %}
				<li><a href="{{ Amenities.id | permalink: model_dir: 'westhouse-hotel-amenities-nyc' }}"><span>{{ Amenities.title }}</span></a></li>
				{% endfor %}
				<div class="clear"></div>
			</ul>
			<div class="subclose"><i class="fa fa-bars"></i><span>View More Amenities</span></div>
        </div>

		<div id="maincontent">

			<div class="container">

				<h2 style="text-align:center;">{% region amenities_page_title %}</h2>

			     {% region amenities_page_text %}

			</div>

		</div>
		
		
		
		<div id="maincontent">

			<div class="container">

				<div class="partners">
					
					
					{% region amenities_partners_page_text %}
					
					
					<div class="the-partners">

						<h3>Our Partners</h3>

						<ul>
						
							 {% for Partners in site.data._models.Partners %}

        		                <li style="background-image: url({{ Partners.image.url }});">
                
                        			<a href="{{ Partners.id | permalink: model_dir: 'westhouse-hotel-new-york-partners' }}"></a>
                        			
                        			<h3>{{ Partners.title }}</h3>
        			
        		              </li>
        		
                            {% endfor %}

						</ul>				

					</div>			

				</div>

				<div class="amenities">
				
				
				{% region amenities_primarytext %}

					<!--<p>Guests, referred to as Hotel Residents, enjoy a curated selection of culinary delicacies, libations and amenities throughout their stay for $35 per adult, per night, offering unprecedented value.</p>

					<ul>
						<li>Savory Breakfast Presentations, Afternoon Treats, Non-alcoholic beverages and Barista coffees served daily on The Terrace.</li>
						<li>Light-fare during hours of indulgence served with a curated selection Alcoholic beverages in The Den.</li>
						<li>In-room Bottled Water</li>
						<li>High speed WIFI Internet</li>
						<li>Unlimited access to Business Center Services</li>
						<li>All Local and Toll Free Calls</li>
						<li>Choice of daily newspapers and magazines</li>
					</ul>
					
					<p>WestHouse Hotel New York features only the best in boutique services and facilities:</p>

					<ul>
						<li>24-hour Workout Room with personal trainers, on request</li>
						<li>World-class Concierge services to assist you during your stay in New York City</li>
						<li>Daily housekeeping</li>
						<li>Evening turndown service, on request</li>
					</ul>-->

				</div>

			</div>

		</div>

	    <!--<div class="the-amenities">

			<div class="container">
				
				<ul>
				    {% for Amenities in site.data._models.Amenities %}

        		<li style="background-image: url({{ Amenities.image.url }});">

        			<a href="{{ Amenities.id | permalink: model_dir: 'westhouse-hotel-amenities-nyc' }}"><span>{{ Amenities.title }}</span></a>
        			
        		</li>
        		
                {% endfor %}
				    
				</ul>
			
			</div>

		</div> -->

{% include footer.html %}