{% assign template_class = 'blogsingle' %}
{% assign seo_title = page.seo_title %}
{% assign seo_description = page.seo_description %}

{% include header.html %}

		<div id="featuredcontent" style="background-image: url({{model.image.url}});">

			<h1 class="contenttitle">Westhouse Your House</h1>

			<div class="reserve"><a class="button1" href="#">Reserve</a></div>

		</div>

		<div id="contentwidget">
		   <div class="logo"><a href="/"><img src="http://cdn.traveltripper.io/assets/712/original/logo3.png" alt="logo3" /></a></div>

           <!-- include booking form -->

            {% include booking_form_interior.html %}

            <!-- // include booking form -->
		</div>        
       
		<div id="maincontent" class="blogsingle">
		
		    <div class="share">

				<h3>Share</h3>

				<div class="socialmedia">
					<ul>
						<li><a href="#" target="_blank" onclick="window.open('https://www.facebook.com/dialog/feed?app_id=489136131246132&display=popup&caption={{ Offers.content }}&link='+ window.location.href +'&redirect_uri='+ window.location.href,'popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+ window.location.href +'&text={{ Offers.title }}&via=westhouseny','popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-twitter"></i></a></li>
						<li><a href="mailto:?subject={{ Offers.title }}&body={{ Offers.content }}" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>

			</div>

			<div class="container">
				
				    <h1 style="text-align:center;">{{ page.title }}</h1>
				    <p style="text-align: center; margin-bottom: 20px;">{{ page.date }}</p>
    
    				{{ page.contents }}
    				
			</div>

		</div>

{% include footer.html %}