{% assign template_class = 'bloglist' %}

{% include header.html %}

		<div id="featuredcontent" style="background-image: url(/assets/images/1972/original/WestHouse-HomePage-MainBanner.jpg);">

			<h1 class="contenttitle">WestHouse. Your House</h1>

			<div class="reserve"><a class="button1" href="#">Reserve</a></div>

		</div>

		<div id="contentwidget">
		   <div class="logo"><a href="/"><img src="/assets/images/712/original/logo3.png" alt="logo3" /></a></div>

           <!-- include booking form -->

            {% include booking_form_interior.html %}

            <!-- // include booking form -->
		</div>
        
        <!--
        
		<div class="subnav">
		
    			<ul>
    			    {% for BlogCategory in site.data._models.BlogCategory %}
        				<li><a data-category-id="{{BlogCategory.id}}">{{BlogCategory.name}}</a></li>
    	    		{% endfor %}
    			</ul>
    		
		</div>
		
        <div class="subnavmobile">
			<ul>
				{% for BlogCategory in site.data._models.BlogCategory %}
				<li><a href="{{BlogCategory.id}}"><span>{{BlogCategory.name}}</span></a></li>
				{% endfor %}
				<div class="clear"></div>
			</ul>
			<div class="subclose"><i class="fa fa-bars"></i><span>View Categories</span></div>
        </div>
        
        -->

		<div id="maincontent" class="blogg">

			<div class="container">
                    
                    {% region blog_lists_content2 %}
                    
				<br>
				<br>

				<ul class="stackers" style="padding-left: 0;">
                    {% assign LatestBlogsList = site.data._models.Blog | sort: 'datemeta' | reverse %}
{% for LatestBlogs in LatestBlogsList %}
					<li data-category-ids="{% for cat in LatestBlogs.category %} {{ cat.id }} {% endfor %}">
						<a href="{{ LatestBlogs.id | permalink: model_dir: 'blog' }}" class="dropanchor"></a>
						<img src="{{ LatestBlogs.image.url }}" alt="{{ LatestBlogs.title }}">
						<h2>{{ LatestBlogs.title }}</h2>
						<p>{{ LatestBlogs.preview  | truncate: 210}}</p>
						<a href="{{ LatestBlogs.id | permalink: model_dir: 'blog' }}" class="button">Continue</a>
					</li>
					
					{% comment %}{% cycle '', '<div class="clear clearblog2"></div>' %}{% endcomment %}
					
					{% endfor %}
				</ul>

			</div>

		</div>

{% include footer.html %}
