{% assign template_class = 'connect' %}

{% include header.html %}

		
		<div id="featuredcontent" style="background-image: url('/assets/images/3642/original/Spherical-WestHouse-6839.jpg');">
		
			<h1 class="contenttitle">Connect</h1>
			
			<!-- <div class="reserve"><a class="button1" href="#">Reserve</a></div> -->
			
		</div>
		
		 
		
		<div id="connect">
			<div class="container">
			  <div class="row">
			  	<div class="col-md-12">
				   <div class="connectinstagram">
					<div class="instagramicon"><i class="fa fa-instagram"></i></div>
					<div class="instagramlink"><a target="_blank" href="https://instagram.com/westhouseny/">@westhouseny</a>
					</div>
				 </div>
				 <div class="col-md-12" id="instapics">
				 </div>
              </div>
            </div>
			<div class="container">
			  <div class="row">	
				<div class="col-sm-6 connectsocial">
					<div class="socialmedia-connect">
						<ul>
							{% for SocialLinks in site.data._models.SocialLinks %}{% if SocialLinks.name == "Facebook" %}<li><a href="{{ SocialLinks.url }}" target="_blank"><i class="fa fa-facebook"></i></a></li>{% endif %}{% endfor %}
							{% for SocialLinks in site.data._models.SocialLinks %}{% if SocialLinks.name == "Twitter" %}<li><a href="{{ SocialLinks.url }}" target="_blank"><i class="fa fa-twitter"></i></a></li>{% endif %}{% endfor %}
							{% for SocialLinks in site.data._models.SocialLinks %}{% if SocialLinks.name == "Instagram" %}<li><a href="{{ SocialLinks.url }}" target="_blank"><i class="fa fa-instagram"></i></a></li>{% endif %}{% endfor %}
							{% for SocialLinks in site.data._models.SocialLinks %}{% if SocialLinks.name == "GooglePlus" %}<li><a href="{{ SocialLinks.url }}" target="_blank"><i class="fa fa-google-plus"></i></a></li>{% endif %}{% endfor %}
    						{% for SocialLinks in site.data._models.SocialLinks %}{% if SocialLinks.name == "Youtube" %}<li><a href="{{ SocialLinks.url }}" target="_blank"><i class="fa fa-youtube-play"></i></a></li>{% endif %}{% endfor %}
    						{% for SocialLinks in site.data._models.SocialLinks %}{% if SocialLinks.name == "TripAdvisor" %}<li><a href="{{ SocialLinks.url }}" target="_blank"><i class="fa fa-tripadvisor"></i></a></li>{% endif %}{% endfor %}
						</ul>
					</div>
				
				</div>
			    <div class="col-md-6 no-padding">
				
					<div class="flexslider tripslider">
						<ul class="slides">
						    {% for Tripadvisor in site.data._models.Tripadvisor %}
        					
        					    <li>
    								<div class="triplogo"><img src="/assets/images/592/original/tripadvisory.png" alt="triplogo" /></div>
    								<div class="testimonials"><p>"{{ Tripadvisor.contents }}"</p></div>
    								<div class="author"><p>{{ Tripadvisor.Credit }}</p></div>
    							</li>
							
        					{% endfor %}
						</ul>
					</div>
				
				</div>
			 </div>
			</div>
		</div>
		
		
{% include footer.html %}
<script>
   $(document).ready(function(){ 
     var instaurl = 'https://api.instagram.com/v1/users/467174069/media/recent/?access_token=467174069.1677ed0.c2a42d293f6f494e86dc0bb5466681b4&callback=?';
     $.ajax({
        url: instaurl,
        dataType: "jsonp",
        success: function (response) {  
        setTimeout(function(){
          $.each(response.data, function(i, item) { 
          	 if(i < 4){
          	 	 $('#instapics').append('<div class="col-md-3 col-sm-6  insta-pic"><a href="'+item.link+'" target="_blank"><img src="'+item.images.standard_resolution.url+'" class="img-respond"/> </a></div>');
          	 }
              
          });
        },1000);
        }
      });
     });
</script>