{% assign template_class = 'contact' %}

{% include header.html %}
		
	<div id="featuredcontent" style="background-image: url(/assets/images/1642/original/westhouse-hotel-new-york-about7.jpg);">

			<h1 class="contenttitle">Contact Us</h1>

			<div class="reserve"><a class="button1" href="#">Reserve</a></div>

		</div>

		<div id="contentwidget">
		   <div class="logo"><a href="/"><img src="/assets/images/712/original/logo3.png" alt="logo3" /></a></div>

           <!-- include booking form -->

            {% include booking_form_interior.html %}

            <!-- // include booking form -->
		</div>

		
		<div class="subnav">
			<ul>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
			</ul>
		</div>
		
		<div id="maincontent" class="contactt">
		
		<div class="container">

                 <div style="max-width: 80%; text-align: center; margin: 0 auto 30px;">

                {% region contact_content %}
                    
                    
                </div>

                <div class="article" style="width: 50%">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2136.790360025162!2d-73.98149313754777!3d40.764710009104235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258f8245a4eab%3A0x86165540b81f3d02!2sWestHouse+New+York!5e0!3m2!1sen!2s!4v1438272959521" width="600" height="450" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
                   
                </div>

                <aside style="width: 45%" class="contt">
                    
                    {% region contact_content_info %}
                    
                    <div id="contact-signup">
                            
                        <form method="post" action="http://www.data2gold.com/cc3/safeandsecure.wow?6O521I55494X2X2G6G1O0L216R693Q5H3Z5E" class="eClub" onsubmit="return validateForm();">
                    
                            <input class="button1" type="text" size="40" name="EMAIL" maxlength="150" value="" placeholder="Your Email">
                        
                            <input type="submit" 								value="Submit an Inquiry" />
                            <input type="HIDDEN" name="PEA"					value="jayme@digital-alchemy.com" />
                            <input type="HIDDEN" name="PEACC" 				value="" />
                            <input type="HIDDEN" name="PEABC"					value="" />
                            <input type="HIDDEN" name="PEASUBJECT" 			value="LOOKUP" />
                            <INPUT TYPE="HIDDEN" NAME="NewUser" 				VALUE="1">
                            <INPUT TYPE="HIDDEN" NAME="PrThanksPage" 			VALUE="1">
                            <INPUT TYPE="HIDDEN" NAME="ftpbox" 				VALUE="01611">
                            <INPUT TYPE="HIDDEN" NAME="PRThanksTemplate"		VALUE="EMAS">
                            <input type="hidden" name="sys_formtype" 			value="eClub">
                            <input type="hidden" name="hv_preftype" 			value="eClub" />
                            <INPUT TYPE="HIDDEN" NAME="WelcomeLetterTemplate" VALUE="EWELCOME">
                            <INPUT TYPE="HIDDEN" NAME="WelcomeLetter"			VALUE="1">
                            <input type="hidden" name="ECWT" 			        value="EMAS" />
                          
                        </form>
                        
                    </div>
                
                </aside>

                <div class="clear"></div>
                <br>
                <br>
              

            </div>
		</div>
		

{% include footer.html %}