{% assign template_class = 'content' %}

{% include header.html %}

        <!--<div id="featuredcontent" style="background-image: url('');">-->
		
			<!--<h2 class="contenttitle"></h2>-->
			
			<!--<div class="reserve"><a class="button1" href="#">Reserve</a></div>-->
			
		<!--</div>-->
		
		<div class="featured-wrapper">{% region content_image %}</div>
		
		<div id="contentwidget">
			<div class="logo"><img src="/assets/images/712/original/logo3.png" alt="logo3" /></div>
		
			<div class="reservationform">
						
				<form autocomplete="off" action="#" target="_blank">
					<input type="hidden" name="" value="" />
					<span class="calsec">
						<i class="fa fa-calendar"></i>
						<input type="text" id="arrival_date" placeholder="Arrival Date" class="calendarsection hasDatepicker">
						<input type="hidden" name="arrival" id="arv">		
					</span>
							
					<span class="calsec">
						<i class="fa fa-calendar"></i>
						<input type="text" id="departure_date" placeholder="Departure Date" class="calendarsection hasDatepicker">
						<input name="departure" type="hidden" id="dep">
					</span>
				</form>
					
			</div>
		</div>
		
		<div class="subnav">
			<!-- <ul>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
			</ul> -->
		</div>
		
		<div id="maincontent">
		
			<div class="container">
		
				{% region the_content %}
			
			</div>
		
		</div>
		

{% include footer.html %}