<!DOCTYPE html>
<html lang="{{ site.active_lang | slice: 0,2 | default: "en" }}" class="no-js">

<head>
  {% include head.html %}
  {% include head/custom.html %}
</head>

<body ng-app="rezTrip" rt3-hotel-info="hotelInfo" rt3-portal-info="portalInfo" rt3-rooms-browser="browser" ng-cloak>

  {% if site.data.tracking.analytics.provider and page.analytics != false %}
    {% case site.data.tracking.analytics.provider %}
    {% when "gtm" %}
      {% include analytics/gtm-body.html %}
    {% endcase %}
  {% endif %}

  {% include header.html %}

  {{ content }}

  <footer class="footer">
    {% include footer.html %}
  </footer>

  {% include scripts.html %}

</body>

</html>
