{% assign template_class = 'eventlist' %}

{% include header.html %}

		<div id="featuredcontent" style="background-image: url(/assets/images/6372/original/westhouse-hotel-new-york-events.jpg);">

				<h1 class="contenttitle">Events</h1>

			<div class="reserve"><a class="button1" href="#">Reserve</a></div>

		</div>

		<div id="contentwidget">
		   <div class="logo"><a href="/"><img src="/assets/images/712/original/logo3.png" alt="logo3" /></a></div>

           <!-- include booking form -->

            {% include booking_form_interior.html %}

            <!-- // include booking form -->
            
		</div>

		<div class="subnav">
			<ul>
			    
				<li></li>
				
			
			</ul>
		</div>

		<div id="maincontent">

			<div class="container">

				<h2 class="main-heading">Upcoming Events</h2>
                
                {% region events_welcome_content %}

				<br>
				<br>

				<ul class="stackers">
                    {% assign LatestEventsList = site.data._models.Event | sort: 'datemeta' | reverse %}
{% for LatestEvents in LatestEventsList %}
					<li>
						<a href="{{ LatestEvents.id | permalink: model_dir: 'events-in-nyc' }}" class="dropanchor"></a>
						<img src="{{ LatestEvents.image.url }}" alt="{{ LatestEvents.title }}">
						<h2>{{ LatestEvents.title }}<span>{{ LatestEvents.date }}</span></h2>
						<p>{{ LatestEvents.preview  | truncate: 210 }}</p>
						<a href="{{ LatestEvents.id | permalink: model_dir: 'events-in-nyc' }}" class="button">Continue</a>
					</li>
					{% endfor %}
				</ul>

			</div>

		</div>
		
<script type="text/javascript">
    console.log('start define events')
    var allEvents = [
        {% for Event in site.data._models.Event %}
            {
                title: "{{Event.title | json}}",
                date: "{{Event.datemeta}}",
                content: "{{Event.contents | escape | newline_to_br }}"
            },
        {% endfor %}
    ];
    
    console.log("defined all events!")
    
</script>



		
{% include footer.html %}
