{% comment %} Iterate through page tree {% endcomment %}
{% for pages in page_tree %}

    {% comment %} Create link id variable {% endcomment %}
    {% assign home_link_id = pages[0].id %}

    {% if pages[0].pinned == true %}
        <li class="pinned">
            <a href="{% link id:home_link_id %}">{{pages[0].title}}</a>
        </li>
    {% elsif pages[0].pinned == false %}
        <li class="">
            <a href="{% link id:home_link_id %}">{{pages[0].title}}</a>
        </li>
    {% endif %}

    {% comment %}{% for subpages in pages[1] %}
        {% assign sub_link_id = subpages[0].id %}

        {% unless subpages[0].title == "Team Members" %}

            {% if subpages[0].children == true %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{subpages[0].title}}</a>
                    <ul class="dropdown-menu">
                        {% for children in subpages[1] %}
                            {% assign children_link_id = children[0].id %}
                            <li><a href="{% link id:children_link_id %}">{{children[0].title}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                {% if subpages[0].pinned == true %}
                    <li class="pinned">
                        <a href="{% link id:sub_link_id %}">{{subpages[0].title}}</a>
                    </li>
                {% elsif subpages[0].pinned == false %}
                    <li class="">
                        <a href="{% link id:sub_link_id %}">{{subpages[0].title}}</a>
                    </li>
                {% endif %}
            {% endif%}
        {% endunless %}

    {% endfor %}{% endcomment %}
{% endfor %}