{% assign template_class = 'page-galleries-virtualtours' %}

{% include header.html %}    
    
    <div id="featuredcontent" style="background-image: url(/assets/images/4542/original/westhouse-hotel-new-york-amenities7.jpg);">

			<h1 class="contenttitle">Virtual Tours</h1>

			<div class="reserve"><a class="button1" href="#">Reserve</a></div>

		</div>

	    <div id="contentwidget">
		   <div class="logo"><a href="/"><img src="/assets/images/712/original/logo3.png" alt="logo3" /></a></div>

            {% include booking_form_interior.html %}

		</div>


		<div class="subnav">
			<ul>
				<!--<li><a href="">Hotel</a></li>-->
				<li><a href="{{ 'photo-album/nyc-hotel-amenities' | permalink }}">Amenities</a></li>
				<li><a href="{{ 'photo-album/accommodations' | permalink }}">Accommodations</a></li>
				<li><a href="{{ 'photo-album/dining-2' | permalink }}">Dining</a></li>
		<!--	<li><a href="{{ 'photo-album/virtual-tours' | permalink }}">Virtual Tours</a></li> -->
			</ul>
		</div>

		<div id="maincontent">

			<div class="container">

			       {% region hotel_gallery_text %}
			       
			</div>

		</div>

		<div id="gallerylist">
 
		    <!--
			<ul>
                <li style="background-image: url(/assets/images/8882/original/Westhouse_terrace_07012014-20428.jpg);">
					<a class="inline" href="#inlinegallery1"></a>
				</li>
				
				<li style="background-image: url(/assets/images/8872/original/Westhouse_terrace_07012014-20403.jpg);">
					<a class="inline" href="#inlinegallery3"></a>
				</li>

			</ul>
			-->
		    <ul>
		        <li><div><script src="http://tour.vrglobal.co/embed/embed.js" async data-panorama="f1a413d36d8053a57c71f909350af8ea5753fba4" data-initial-width="400" data-initial-height="200" data-preview="http://169.54.26.184:3000//uploads/media_content/picture/0/processed_dcaf5274c1b7265992193197066d88f9d4d268eaa3093b3a9bd39e3a0a059a47.jpg" data-title="Times Square View King" > </script></div></li>
		        <li><div><script src="http://tour.vrglobal.co/embed/embed.js" async data-panorama="13dc017163bcd4ee3a7e4be3a3dd2fcd905845b8" data-initial-width="400" data-initial-height="200" data-preview="http://169.54.26.184:3000//uploads/media_content/picture/0/processed_1d24c47aa8829ac4af5dea2ad73c87c37e648df605fafe387c0d6ed10d157ea0.jpg" data-title="Lobby" > </script></div></li>
		    </ul>
			

		</div>
{% include footer.html %}
