{% assign template_class = 'page-galleries' %}

{% include header.html %}

	
		<div id="featuredcontent" style="background-image: url(/assets/images/4472/original/WestHouse_Front_Entrance_v2s.jpg);">

			<h1 class="contenttitle">Gallery</h1>

			<div class="reserve"><a class="button1" href="#">Reserve</a></div>

		</div>

		<div id="contentwidget">
		   <div class="logo"><a href="/"><img src="/assets/images/712/original/logo3.png" alt="logo3" /></a></div>

           <!-- include booking form -->

            {% include booking_form_interior.html %}

            <!-- // include booking form -->
		</div>

		<div class="subnav">
			<ul>
			    <li><a href="{{ 'photo-album/accommodations' | permalink }}">Accommodations</li>
        		<li><a href="{{ 'photo-album/dining-2' | permalink }}">Dining</a></li>
        		<li><a href="{{ 'photo-album/nyc-hotel-amenities' | permalink }}">Amenities</a></li>
        	    <li><a href="{{ 'photo-album/virtual-tours' | permalink }}">Virtual Tours</a></li>
			</ul>
			<div class="clear"></div>
		</div>
		
        <div class="subnavmobile">
			<ul>
				<li><a href="{{ 'photo-album/accommodations' | permalink }}">Accommodations</a></li>
        		<li><a href="{{ 'photo-album/dining-2' | permalink }}">Dining</a></li>
        		<li><a href="{{ 'photo-album/nyc-hotel-amenities' | permalink }}">Amenities</a></li>
        		<li><a href="{{ 'photo-album/virtual-tours' | permalink }}">Virtual Tours</a></li>
				<div class="clear"></div>
			</ul>
			<div class="subclose"><i class="fa fa-bars"></i><span>View Galleries</span></div>
        </div>

		<div id="maincontent">

			<div class="container">

				<h2 style="text-align:center;">Westhouse Galleries</h2>

			     {% region galleries_text %}

			</div>

		</div>

		<div id="partnerslist">
			<ul>
        		
        		 <li style="background-image: url(/assets/images/4472/original/WestHouse_Front_Entrance_v2s.jpg);">

        			<a href="{{ 'photo-album/accommodations' | permalink }}"><h3 class="roomtitle">Accommodations</h3></a>
        			
        		</li>
        		
        		<li style="background-image: url(/assets/images/4492/original/westhouse-hotel-new-york-amenities2.jpg);">

        			<a href="{{ 'photo-album/dining-2' | permalink }}"><h3 class="roomtitle">Dining</h3></a>
        			
        		</li>
        		
        		<li style="background-image: url(/assets/images/4542/original/westhouse-hotel-new-york-amenities7.jpg);">

        			<a href="{{ 'photo-album/nyc-hotel-amenities' | permalink }}"><h3 class="roomtitle">Amenities</h3></a>
        			
        		</li>
        		
    			<li style="background-image: url(/assets/images/9649/original/WestHouse_Room_2108_Livingroom_v3s.jpg);">

        			<a href="{{ 'photo-album/virtual-tours' | permalink }}"><h3 class="roomtitle">Virtual Tours</h3></a>
        			
        		</li>

			</ul>

		</div>
		

{% include footer.html %}