{% assign template_class = 'page-galleries-vrtours' %}

{% include header.html %}    
    
    <div id="featuredcontent" style="background-image: url(/assets/images/9649/original/WestHouse_Room_2108_Livingroom_v3s.jpg);">

			<h1 class="contenttitle">Virtual Tours</h1>

			<div class="reserve"><a class="button1" href="#">Reserve</a></div>

		</div>

	    <div id="contentwidget">
		   <div class="logo"><a href="/"><img src="/assets/images/712/original/logo3.png" alt="logo3" /></a></div>
            {% include booking_form_interior.html %}
		</div>


		<div class="subnav">
			<ul>
				<!--<li><a href="">Hotel</a></li>-->
				<li><a href="{{ 'photo-album/nyc-hotel-amenities' | permalink }}">Amenities</a></li>
				<li><a href="{{ 'photo-album/accommodations' | permalink }}">Accommodations</a></li>
				<li><a href="{{ 'photo-album/dining-2' | permalink }}">Dining</a></li>
		        <li><a href="{{ 'photo-album/virtual-tours' | permalink }}">Virtual Tours</a></li>
			</ul>
		</div>

		<div id="maincontent">

			<div class="container">

		       {% region accommodations_gallery_text %}
			       
			</div>

		</div>

		<div id="gallerylist">
			<ul id="gallvr">  
				{% for LatestVRTours in site.data._models.VRTour %}
				   <li id="{{LatestVRTours.menu_order }}">
				   <link vr-embed  popup="true" rel="import" href="https://static.vrglobal.com/embed/{{LatestVRTours.vr_url_key }}.html"/>	 
 					</li>
				{% endfor %}

			 	</ul>


<style type="text/css">
.vrglobal-embed {
 
    vertical-align: top;
    display: block !important;
    width: 100%;
    height: 100%;
    position: relative;
}
.vrg-popup{
	z-index: 99999999999999999999 !important;
}
</style>
			
			</div>

		</div>

 <script type="text/javascript">
 function sortList() {
    sortList.direction = sortList.direction ? false : true;
    var arr = [], list = document.getElementById('gallvr'),
        c = list.children, l = c.length, i;
    for(i=0; i<l; i++) arr[i] = c[i]; // "convert" NodeList to array
    arr.sort(function(a,b) {return a.id < b.id ? -1 : 1;}); //sorting function ends here.
    if( !sortList.direction) arr = arr.reverse();
    for(i=0; i<l; i++) list.appendChild(arr[i]);
}

sortList();
    </script>

{% include footer.html %}
