{% assign template_class = 'page-galleries-accommodations' %}

{% include header.html %}    
    
    <div id="featuredcontent" style="background-image: url(/assets/images/4372/original/WestHouse_Room_2504_Livingroom_v3s.jpg);">

			<h1 class="contenttitle">Accommodations</h1>

			<div class="reserve"><a class="button1" href="#">Reserve</a></div>

		</div>

	    <div id="contentwidget">
		   <div class="logo"><a href="/"><img src="/assets/images/712/original/logo3.png" alt="logo3" /></a></div>
            {% include booking_form_interior.html %}
		</div>


		<div class="subnav">
			<ul>
				<!--<li><a href="">Hotel</a></li>-->
				<li><a href="{{ 'photo-album/nyc-hotel-amenities' | permalink }}">Amenities</a></li>
				<li><a href="{{ 'photo-album/accommodations' | permalink }}">Accommodations</a></li>
				<li><a href="{{ 'photo-album/dining-2' | permalink }}">Dining</a></li>
		        <li><a href="{{ 'photo-album/virtual-tours' | permalink }}">Virtual Tours</a></li>
			</ul>
		</div>

		<div id="maincontent">

			<div class="container">

		       {% region accommodations_gallery_text %}
			       
			</div>

		</div>

		<div id="gallerylist">
			<ul>
			
				<li style="background-image: url(/assets/images/4332/original/WestHouse_Room_2512_Bedroom_v4s.jpg);">
					<a class="inline" href="#inlinegallery1"></a>
				</li>
				<li style="background-image: url(/assets/images/4382/original/WestHouse_Room_2504_Bedroom_v3s.jpg);">
					<a class="inline" href="#inlinegallery2"></a>
				</li>
				<li style="background-image: url(/assets/images/4392/original/WestHouse_Room_2218_Bedroom_v2s.jpg);">
					<a class="inline" href="#inlinegallery3"></a>
				</li>
				<li style="background-image: url(/assets/images/4372/original/WestHouse_Room_2504_Livingroom_v3s.jpg);">
					<a class="inline" href="#inlinegallery4"></a>
				</li>
				<li style="background-image: url(/assets/images/4432/original/WestHouse_Room_2009_Bedroom_v2s.jpg);">
					<a class="inline" href="#inlinegallery5"></a>
				</li>
				<li style="background-image: url(/assets/images/4402/original/WestHouse_Room_2108_Livingroom_v3s.jpg);">
					<a class="inline" href="#inlinegallery6"></a>
				</li>
				<li style="background-image: url(/assets/images/4452/original/WestHouse_Room_1901_Livingroom_v3s.jpg);">
					<a class="inline" href="#inlinegallery7"></a>
				</li>
				<li style="background-image: url(/assets/images/4462/original/WestHouse_Room_1901_Bedroom_v2s.jpg);">
					<a class="inline" href="#inlinegallery8"></a>
				</li>	
				<li style="background-image: url(/assets/images/8812/original/westhouse-exterior-1.png);">
					<a class="inline" href="#inlinegallery9"></a>
				</li>			
				<li style="background-image: url(/assets/images/8802/original/westhouse-exterior-2.png);">
					<a class="inline" href="#inlinegallery10"></a>
				</li>			
				<li style="background-image: url(/assets/images/8822/original/westhouse-views-1.png);">
					<a class="inline" href="#inlinegallery11"></a>
				</li>			
				

			</ul>
			
			<div style="display:none">
		
				<div id="inlinegallery1" class="inlinegallery">
					<div class="galinfo">
					    <div class="share">

            				<h3 style="margin-bottom: 0;">Share</h3>
            
            				<div class="socialmedia">
            					<ul>
            						<li><a href="#" target="_blank" onclick="window.open('https://www.facebook.com/dialog/feed?app_id=489136131246132&amp;display=popup&amp;caption=&amp;link='+ window.location.href +'&amp;redirect_uri='+ window.location.href,'popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-facebook"></i></a></li>
            						<li><a href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+ window.location.href +'&amp;text=&amp;via=westhouseny','popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-twitter"></i></a></li>
            						<li><a href="mailto:?subject=&amp;body=" target="_blank"><i class="fa fa-envelope"></i></a></li>
            					</ul>
            				</div>
            
            			</div>
						<img src="/assets/images/4332/original/WestHouse_Room_2512_Bedroom_v4s.jpg" alt="gal1" />
						<ul>
            				<li><a href="{{ 'photo-album/nyc-hotel-amenities' | permalink }}">Amenities</a></li>
            				<li><a href="{{ 'photo-album/dining-2' | permalink }}">Dining</a></li>
            			</ul>
					</div>
					<div class="galcontent">
					    <p>WestHouse Hotel New York | Times Square View King</p>
					</div>
				</div>

				<div id="inlinegallery2" class="inlinegallery">
					<div class="galinfo">
					    <div class="share">

            				<h3 style="margin-bottom: 0;">Share</h3>
            
            				<div class="socialmedia">
            					<ul>
            						<li><a href="#" target="_blank" onclick="window.open('https://www.facebook.com/dialog/feed?app_id=489136131246132&amp;display=popup&amp;caption=&amp;link='+ window.location.href +'&amp;redirect_uri='+ window.location.href,'popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-facebook"></i></a></li>
            						<li><a href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+ window.location.href +'&amp;text=&amp;via=westhouseny','popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-twitter"></i></a></li>
            						<li><a href="mailto:?subject=&amp;body=" target="_blank"><i class="fa fa-envelope"></i></a></li>
            					</ul>
            				</div>
            
            			</div>
						<img src="/assets/images/4382/original/WestHouse_Room_2504_Bedroom_v3s.jpg" alt="gal2" />
						<ul>
            				<li><a href="{{ 'photo-album/nyc-hotel-amenities' | permalink }}">Amenities</a></li>
            				<li><a href="{{ 'photo-album/dining-2' | permalink }}">Dining</a></li>
            			</ul>
					</div>
					<div class="galcontent">
					    <p>WestHouse Hotel New York | Luxury King Bedroom</p>
					</div>
				</div>

				<div id="inlinegallery3" class="inlinegallery">
					<div class="galinfo">
					    <div class="share">

            				<h3 style="margin-bottom: 0;">Share</h3>
            
            				<div class="socialmedia">
            					<ul>
            						<li><a href="#" target="_blank" onclick="window.open('https://www.facebook.com/dialog/feed?app_id=489136131246132&amp;display=popup&amp;caption=&amp;link='+ window.location.href +'&amp;redirect_uri='+ window.location.href,'popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-facebook"></i></a></li>
            						<li><a href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+ window.location.href +'&amp;text=&amp;via=westhouseny','popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-twitter"></i></a></li>
            						<li><a href="mailto:?subject=&amp;body=" target="_blank"><i class="fa fa-envelope"></i></a></li>
            					</ul>
            				</div>
            
            			</div>
						<img src="/assets/images/4392/original/WestHouse_Room_2218_Bedroom_v2s.jpg" alt="gal3" />
						<ul>
            				<li><a href="{{ 'photo-album/nyc-hotel-amenities' | permalink }}">Amenities</a></li>
            				<li><a href="{{ 'photo-album/dining-2' | permalink }}">Dining</a></li>
            			</ul>
					</div>
					<div class="galcontent">
					    <p>WestHouse Hotel New York | King Bedroom</p>
					</div>
				</div>

				<div id="inlinegallery4" class="inlinegallery">
					<div class="galinfo">
					    <div class="share">

            				<h3 style="margin-bottom: 0;">Share</h3>
            
            				<div class="socialmedia">
            					<ul>
            						<li><a href="#" target="_blank" onclick="window.open('https://www.facebook.com/dialog/feed?app_id=489136131246132&amp;display=popup&amp;caption=&amp;link='+ window.location.href +'&amp;redirect_uri='+ window.location.href,'popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-facebook"></i></a></li>
            						<li><a href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+ window.location.href +'&amp;text=&amp;via=westhouseny','popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-twitter"></i></a></li>
            						<li><a href="mailto:?subject=&amp;body=" target="_blank"><i class="fa fa-envelope"></i></a></li>
            					</ul>
            				</div>
            
            			</div>
						<img src="/assets/images/4372/original/WestHouse_Room_2504_Livingroom_v3s.jpg" alt="gal4" />
						<ul>
            				<li><a href="{{ 'photo-album/nyc-hotel-amenities' | permalink }}">Amenities</a></li>
            				<li><a href="{{ 'photo-album/dining-2' | permalink }}">Dining</a></li>
            			</ul>
					</div>
					<div class="galcontent">
					    <p>WestHouse Hotel New York | Suite Living Room</p>
					</div>
				</div>

				<div id="inlinegallery5" class="inlinegallery">
					<div class="galinfo">
					    <div class="share">

            				<h3 style="margin-bottom: 0;">Share</h3>
            
            				<div class="socialmedia">
            					<ul>
            						<li><a href="#" target="_blank" onclick="window.open('https://www.facebook.com/dialog/feed?app_id=489136131246132&amp;display=popup&amp;caption=&amp;link='+ window.location.href +'&amp;redirect_uri='+ window.location.href,'popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-facebook"></i></a></li>
            						<li><a href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+ window.location.href +'&amp;text=&amp;via=westhouseny','popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-twitter"></i></a></li>
            						<li><a href="mailto:?subject=&amp;body=" target="_blank"><i class="fa fa-envelope"></i></a></li>
            					</ul>
            				</div>
            
            			</div>
						<img src="/assets/images/4432/original/WestHouse_Room_2009_Bedroom_v2s.jpg" alt="gal5" />
						<ul>
            				<li><a href="{{ 'photo-album/nyc-hotel-amenities' | permalink }}">Amenities</a></li>
            				<li><a href="{{ 'photo-album/dining-2' | permalink }}">Dining</a></li>
            			</ul>
					</div>
					<div class="galcontent">
					    <p>WestHouse Hotel New York | Two Queen Bedroom</p>
					</div>
				</div>

				<div id="inlinegallery6" class="inlinegallery">
					<div class="galinfo">
					    <div class="share">

            				<h3 style="margin-bottom: 0;">Share</h3>
            
            				<div class="socialmedia">
            					<ul>
            						<li><a href="#" target="_blank" onclick="window.open('https://www.facebook.com/dialog/feed?app_id=489136131246132&amp;display=popup&amp;caption=&amp;link='+ window.location.href +'&amp;redirect_uri='+ window.location.href,'popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-facebook"></i></a></li>
            						<li><a href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+ window.location.href +'&amp;text=&amp;via=westhouseny','popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-twitter"></i></a></li>
            						<li><a href="mailto:?subject=&amp;body=" target="_blank"><i class="fa fa-envelope"></i></a></li>
            					</ul>
            				</div>
            
            			</div>
						<img src="/assets/images/4402/original/WestHouse_Room_2108_Livingroom_v3s.jpg" alt="gal6" />
						<ul>
            				<li><a href="{{ 'photo-album/nyc-hotel-amenities' | permalink }}">Amenities</a></li>
            				<li><a href="{{ 'photo-album/dining-2' | permalink }}">Dining</a></li>
            			</ul>
					</div>
					<div class="galcontent">
					    <p>WestHouse Hotel New York | Living Room Terrace Suite</p>
					</div>
				</div>

				<div id="inlinegallery7" class="inlinegallery">
					<div class="galinfo">
					    <div class="share">

            				<h3 style="margin-bottom: 0;">Share</h3>
            
            				<div class="socialmedia">
            					<ul>
            						<li><a href="#" target="_blank" onclick="window.open('https://www.facebook.com/dialog/feed?app_id=489136131246132&amp;display=popup&amp;caption=&amp;link='+ window.location.href +'&amp;redirect_uri='+ window.location.href,'popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-facebook"></i></a></li>
            						<li><a href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+ window.location.href +'&amp;text=&amp;via=westhouseny','popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-twitter"></i></a></li>
            						<li><a href="mailto:?subject=&amp;body=" target="_blank"><i class="fa fa-envelope"></i></a></li>
            					</ul>
            				</div>
            
            			</div>
						<img src="/assets/images/4452/original/WestHouse_Room_1901_Livingroom_v3s.jpg" alt="gal7" />
						<ul>
            				<li><a href="{{ 'photo-album/nyc-hotel-amenities' | permalink }}">Amenities</a></li>
            				<li><a href="{{ 'photo-album/dining-2' | permalink }}">Dining</a></li>
            			</ul>
					</div>
					<div class="galcontent">
					    <p>WestHouse Hotel New York | Suite Living Room</p>
					</div>
				</div>

				<div id="inlinegallery8" class="inlinegallery">
					<div class="galinfo">
					    <div class="share">

            				<h3 style="margin-bottom: 0;">Share</h3>
            
            				<div class="socialmedia">
            					<ul>
            						<li><a href="#" target="_blank" onclick="window.open('https://www.facebook.com/dialog/feed?app_id=489136131246132&amp;display=popup&amp;caption=&amp;link='+ window.location.href +'&amp;redirect_uri='+ window.location.href,'popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-facebook"></i></a></li>
            						<li><a href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+ window.location.href +'&amp;text=&amp;via=westhouseny','popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-twitter"></i></a></li>
            						<li><a href="mailto:?subject=&amp;body=" target="_blank"><i class="fa fa-envelope"></i></a></li>
            					</ul>
            				</div>
            
            			</div>
						<img src="/assets/images/4462/original/WestHouse_Room_1901_Bedroom_v2s.jpg" alt="gal8" />
						<ul>
            				<li><a href="{{ 'photo-album/nyc-hotel-amenities' | permalink }}">Amenities</a></li>
            				<li><a href="{{ 'photo-album/dining-2' | permalink }}">Dining</a></li>
            			</ul>
					</div>
					<div class="galcontent">
					    <p>WestHouse Hotel New York | Bedroom Suite</p>
					</div>
				</div>

	<div id="inlinegallery9" class="inlinegallery">
					<div class="galinfo">
					    <div class="share">

            				<h3 style="margin-bottom: 0;">Share</h3>
            
            				<div class="socialmedia">
            					<ul>
            						<li><a href="#" target="_blank" onclick="window.open('https://www.facebook.com/dialog/feed?app_id=489136131246132&amp;display=popup&amp;caption=&amp;link='+ window.location.href +'&amp;redirect_uri='+ window.location.href,'popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-facebook"></i></a></li>
            						<li><a href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+ window.location.href +'&amp;text=&amp;via=westhouseny','popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-twitter"></i></a></li>
            						<li><a href="mailto:?subject=&amp;body=" target="_blank"><i class="fa fa-envelope"></i></a></li>
            					</ul>
            				</div>
            
            			</div>
						<img src="/assets/images/8812/original/westhouse-exterior-1.png" alt="gal8" />
						<ul>
            				<li><a href="{{ 'photo-album/nyc-hotel-amenities' | permalink }}">Amenities</a></li>
            				<li><a href="{{ 'photo-album/dining-2' | permalink }}">Dining</a></li>
            			</ul>
					</div>
					<div class="galcontent">
					    <p>WestHouse Hotel New York | Entrance</p>
					</div>
				</div>
				
	<div id="inlinegallery10" class="inlinegallery">
					<div class="galinfo">
					    <div class="share">

            				<h3 style="margin-bottom: 0;">Share</h3>
            
            				<div class="socialmedia">
            					<ul>
            						<li><a href="#" target="_blank" onclick="window.open('https://www.facebook.com/dialog/feed?app_id=489136131246132&amp;display=popup&amp;caption=&amp;link='+ window.location.href +'&amp;redirect_uri='+ window.location.href,'popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-facebook"></i></a></li>
            						<li><a href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+ window.location.href +'&amp;text=&amp;via=westhouseny','popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-twitter"></i></a></li>
            						<li><a href="mailto:?subject=&amp;body=" target="_blank"><i class="fa fa-envelope"></i></a></li>
            					</ul>
            				</div>
            
            			</div>
						<img src="/assets/images/8802/original/westhouse-exterior-2.png" alt="gal8" />
						<ul>
            				<li><a href="{{ 'photo-album/nyc-hotel-amenities' | permalink }}">Amenities</a></li>
            				<li><a href="{{ 'photo-album/dining-2' | permalink }}">Dining</a></li>
            			</ul>
					</div>
					<div class="galcontent">
					    <p>WestHouse Hotel New York | Entrance</p>
					</div>
				</div>
				
	<div id="inlinegallery11" class="inlinegallery">
					<div class="galinfo">
					    <div class="share">

            				<h3 style="margin-bottom: 0;">Share</h3>
            
            				<div class="socialmedia">
            					<ul>
            						<li><a href="#" target="_blank" onclick="window.open('https://www.facebook.com/dialog/feed?app_id=489136131246132&amp;display=popup&amp;caption=&amp;link='+ window.location.href +'&amp;redirect_uri='+ window.location.href,'popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-facebook"></i></a></li>
            						<li><a href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+ window.location.href +'&amp;text=&amp;via=westhouseny','popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-twitter"></i></a></li>
            						<li><a href="mailto:?subject=&amp;body=" target="_blank"><i class="fa fa-envelope"></i></a></li>
            					</ul>
            				</div>
            
            			</div>
						<img src="/assets/images/8822/original/westhouse-views-1.png" alt="gal8" />
						<ul>
            				<li><a href="{{ 'photo-album/nyc-hotel-amenities' | permalink }}">Amenities</a></li>
            				<li><a href="{{ 'photo-album/dining-2' | permalink }}">Dining</a></li>
            			</ul>
					</div>
					<div class="galcontent">
					    <p>WestHouse Hotel New York | Prestige Suite Terrace</p>
					</div>
				</div>				
				
			</div>

		</div>
{% include footer.html %}
