{% assign template_class = 'page-galleries-hotel' %}

{% include header.html %}    
    
    <div id="featuredcontent" style="background-image: url(/assets/images/6162/original/westhouse-hotel-new-york-amenities-gallery.jpg);">

			<h1 class="contenttitle">Amenities</h1>

			<div class="reserve"><a class="button1" href="#">Reserve</a></div>

		</div>

	    <div id="contentwidget">
		   <div class="logo"><a href="/"><img src="/assets/images/712/original/logo3.png" alt="logo3" /></a></div>

            {% include booking_form_interior.html %}

		</div>


		<div class="subnav">
			<ul>
				<!--<li><a href="">Hotel</a></li>-->
				<li><a href="{{ 'photo-album/nyc-hotel-amenities' | permalink }}">Amenities</a></li>
				<li><a href="{{ 'photo-album/accommodations' | permalink }}">Accommodations</a></li>
				<li><a href="{{ 'photo-album/dining-2' | permalink }}">Dining</a></li>
	            <li><a href="{{ 'photo-album/virtual-tours' | permalink }}">Virtual Tours</a></li>
			</ul>
		</div>

		<div id="maincontent">

			<div class="container">

			       {% region hotel_gallery_text %}
			       
			</div>

		</div>

		<div id="gallerylist">
			<ul>
                <li style="background-image: url(/assets/images/8882/original/Westhouse_terrace_07012014-20428.jpg);">
					<a class="inline" href="#inlinegallery1"></a>
				</li>
				
				<li style="background-image: url(/assets/images/8872/original/Westhouse_terrace_07012014-20403.jpg);">
					<a class="inline" href="#inlinegallery3"></a>
				</li>
				
				<li style="background-image: url(/assets/images/4522/original/westhouse-hotel-new-york-amenities5.jpg);">
					<a class="inline" href="#inlinegallery2"></a>
				</li>

				<li style="background-image: url(/assets/images/4542/original/westhouse-hotel-new-york-amenities7.jpg);">
					<a class="inline" href="#inlinegallery4"></a>
				</li>

				<li style="background-image: url(/assets/images/4552/original/westhouse-hotel-new-york-amenities8.jpg);">
					<a class="inline" href="#inlinegallery5"></a>
				</li>
				
				<li style="background-image: url(/assets/images/4322/original/WestHouse_Terrace_Champagne_Tight_v2s.jpg);">
					<a class="inline" href="#inlinegallery7"></a>
				</li>

				<li style="background-image: url(/assets/images/6272/original/westhouse-hotel-new-york-special-resident.jpg);">
					<a class="inline" href="#inlinegallery9"></a>
				</li>

				<li style="background-image: url(/assets/images/5132/original/WestHouse-Model-Terrace-7156.jpg);">
					<a class="inline" href="#inlinegallery10"></a>
				</li>

				<li style="background-image: url(/assets/images/6292/original/westhouse-hotel-new-york-concierge.jpg);">
					<a class="inline" href="#inlinegallery11"></a>
				</li>

				<li style="background-image: url(/assets/images/6262/original/westhouse-hotel-new-york-westroom.jpg);">
					<a class="inline" href="#inlinegallery12"></a>
				</li>

			</ul>
			
			<div style="display:none">
				
				<div id="inlinegallery2" class="inlinegallery">
					<div class="galinfo">
					    <div class="share">

            				<h3 style="margin-bottom: 0;">Share</h3>
            
            				<div class="socialmedia">
            					<ul>
            						<li><a href="#" target="_blank" onclick="window.open('https://www.facebook.com/dialog/feed?app_id=489136131246132&amp;display=popup&amp;caption=&amp;link='+ window.location.href +'&amp;redirect_uri='+ window.location.href,'popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-facebook"></i></a></li>
            						<li><a href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+ window.location.href +'&amp;text=&amp;via=westhouseny','popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-twitter"></i></a></li>
            						<li><a href="mailto:?subject=&amp;body=" target="_blank"><i class="fa fa-envelope"></i></a></li>
            					</ul>
            				</div>
            
            			</div>
						<img src="/assets/images/4522/original/westhouse-hotel-new-york-amenities5.jpg" alt="gal2" />
						<ul>
            				<li><a href="{{ 'photo-album/accommodations' | permalink }}">Accommodations</a></li>
            				 <li><a href="{{ 'photo-album/dining-2' | permalink }}">Dining</a></li> 
            			</ul>
					</div>
					<div class="galcontent">
					    <p>WestHouse Hotel New York | The Terrace</p>
					</div>
				</div>
				
				<div id="inlinegallery4" class="inlinegallery">
					<div class="galinfo">
					    <div class="share">

            				<h3 style="margin-bottom: 0;">Share</h3>
            
            				<div class="socialmedia">
            					<ul>
            						<li><a href="#" target="_blank" onclick="window.open('https://www.facebook.com/dialog/feed?app_id=489136131246132&amp;display=popup&amp;caption=&amp;link='+ window.location.href +'&amp;redirect_uri='+ window.location.href,'popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-facebook"></i></a></li>
            						<li><a href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+ window.location.href +'&amp;text=&amp;via=westhouseny','popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-twitter"></i></a></li>
            						<li><a href="mailto:?subject=&amp;body=" target="_blank"><i class="fa fa-envelope"></i></a></li>
            					</ul>
            				</div>
            
            			</div>
						<img src="/assets/images/4542/original/westhouse-hotel-new-york-amenities7.jpg" alt="gal4" />
						<ul>
            				<li><a href="{{ 'photo-album/accommodations' | permalink }}">Accommodations</a></li>
            				 <li><a href="{{ 'photo-album/dining-2' | permalink }}">Dining</a></li> 
            			</ul>
					</div>
					<div class="galcontent">
					    <p>WestHouse Hotel New York | The Den</p>

					</div>
				</div>
				
				<div id="inlinegallery5" class="inlinegallery">
					<div class="galinfo">
					    <div class="share">

            				<h3 style="margin-bottom: 0;">Share</h3>
            
            				<div class="socialmedia">
            					<ul>
            						<li><a href="#" target="_blank" onclick="window.open('https://www.facebook.com/dialog/feed?app_id=489136131246132&amp;display=popup&amp;caption=&amp;link='+ window.location.href +'&amp;redirect_uri='+ window.location.href,'popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-facebook"></i></a></li>
            						<li><a href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+ window.location.href +'&amp;text=&amp;via=westhouseny','popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-twitter"></i></a></li>
            						<li><a href="mailto:?subject=&amp;body=" target="_blank"><i class="fa fa-envelope"></i></a></li>
            					</ul>
            				</div>
            
            			</div>
						<img src="/assets/images/4552/original/westhouse-hotel-new-york-amenities8.jpg" alt="gal5" />
						<ul>
            				<li><a href="{{ 'photo-album/accommodations' | permalink }}">Accommodations</a></li>
            				 <li><a href="{{ 'photo-album/dining-2' | permalink }}">Dining</a></li> 
            			</ul>
					</div>
					<div class="galcontent">
					    <p>WestHouse Hotel New York | The Bar at the Den</p>

					</div>
				</div>
				
				<div id="inlinegallery7" class="inlinegallery">
					<div class="galinfo">
					    <div class="share">

            				<h3 style="margin-bottom: 0;">Share</h3>
            
            				<div class="socialmedia">
            					<ul>
            						<li><a href="#" target="_blank" onclick="window.open('https://www.facebook.com/dialog/feed?app_id=489136131246132&amp;display=popup&amp;caption=&amp;link='+ window.location.href +'&amp;redirect_uri='+ window.location.href,'popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-facebook"></i></a></li>
            						<li><a href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+ window.location.href +'&amp;text=&amp;via=westhouseny','popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-twitter"></i></a></li>
            						<li><a href="mailto:?subject=&amp;body=" target="_blank"><i class="fa fa-envelope"></i></a></li>
            					</ul>
            				</div>
            
            			</div>
						<img src="/assets/images/4482/original/westhouse-hotel-new-york-amenities1.jpg" alt="gal6" />
						<ul>
            				<li><a href="{{ 'photo-album/accommodations' | permalink }}">Accommodations</a></li>
            				 <li><a href="{{ 'photo-album/dining-2' | permalink }}">Dining</a></li> 
            			</ul>
					</div>
					<div class="galcontent">
					    <p>WestHouse Hotel New York | Room Service</p>

					</div>
				</div>


				<div id="inlinegallery9" class="inlinegallery">
					<div class="galinfo">
					    <div class="share">

            				<h3 style="margin-bottom: 0;">Share</h3>
            
            				<div class="socialmedia">
            					<ul>
            						<li><a href="#" target="_blank" onclick="window.open('https://www.facebook.com/dialog/feed?app_id=489136131246132&amp;display=popup&amp;caption=&amp;link='+ window.location.href +'&amp;redirect_uri='+ window.location.href,'popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-facebook"></i></a></li>
            						<li><a href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+ window.location.href +'&amp;text=&amp;via=westhouseny','popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-twitter"></i></a></li>
            						<li><a href="mailto:?subject=&amp;body=" target="_blank"><i class="fa fa-envelope"></i></a></li>
            					</ul>
            				</div>
            
            			</div>
						<img src="/assets/images/6272/original/westhouse-hotel-new-york-special-resident.jpg" alt="gal6" />
						<ul>
            				<li><a href="{{ 'photo-album/accommodations' | permalink }}">Accommodations</a></li>
            				 <li><a href="{{ 'photo-album/dining-2' | permalink }}">Dining</a></li> 
            			</ul>
					</div>
					<div class="galcontent">
						<p>WestHouse Hotel New York | Special Resident</p>

					</div>
				</div>


				<div id="inlinegallery10" class="inlinegallery">
					<div class="galinfo">
					    <div class="share">

            				<h3 style="margin-bottom: 0;">Share</h3>
            
            				<div class="socialmedia">
            					<ul>
            						<li><a href="#" target="_blank" onclick="window.open('https://www.facebook.com/dialog/feed?app_id=489136131246132&amp;display=popup&amp;caption=&amp;link='+ window.location.href +'&amp;redirect_uri='+ window.location.href,'popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-facebook"></i></a></li>
            						<li><a href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+ window.location.href +'&amp;text=&amp;via=westhouseny','popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-twitter"></i></a></li>
            						<li><a href="mailto:?subject=&amp;body=" target="_blank"><i class="fa fa-envelope"></i></a></li>
            					</ul>
            				</div>
            
            			</div>
						<img src="/assets/images/5132/original/WestHouse-Model-Terrace-7156.jpg" alt="gal6" />
						<ul>
            				<li><a href="{{ 'photo-album/accommodations' | permalink }}">Accommodations</a></li>
            				 <li><a href="{{ 'photo-album/dining-2' | permalink }}">Dining</a></li> 
            			</ul>
					</div>
					<div class="galcontent">
						<p>WestHouse Hotel New York | Resident Privileges</p>

					</div>
				</div>


				<div id="inlinegallery11" class="inlinegallery">
					<div class="galinfo">
					    <div class="share">

            				<h3 style="margin-bottom: 0;">Share</h3>
            
            				<div class="socialmedia">
            					<ul>
            						<li><a href="#" target="_blank" onclick="window.open('https://www.facebook.com/dialog/feed?app_id=489136131246132&amp;display=popup&amp;caption=&amp;link='+ window.location.href +'&amp;redirect_uri='+ window.location.href,'popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-facebook"></i></a></li>
            						<li><a href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+ window.location.href +'&amp;text=&amp;via=westhouseny','popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-twitter"></i></a></li>
            						<li><a href="mailto:?subject=&amp;body=" target="_blank"><i class="fa fa-envelope"></i></a></li>
            					</ul>
            				</div>
            
            			</div>
						<img src="/assets/images/6292/original/westhouse-hotel-new-york-concierge.jpg" alt="gal6" />
						<ul>
            				<li><a href="{{ 'photo-album/accommodations' | permalink }}">Accommodations</a></li>
            				 <li><a href="{{ 'photo-album/dining-2' | permalink }}">Dining</a></li> 
            			</ul>
					</div>
					<div class="galcontent">
						<p>WestHouse Hotel New York | Concierge</p>

					</div>
				</div>

				<div id="inlinegallery12" class="inlinegallery">
					<div class="galinfo">
					    <div class="share">

            				<h3 style="margin-bottom: 0;">Share</h3>
            
            				<div class="socialmedia">
            					<ul>
            						<li><a href="#" target="_blank" onclick="window.open('https://www.facebook.com/dialog/feed?app_id=489136131246132&amp;display=popup&amp;caption=&amp;link='+ window.location.href +'&amp;redirect_uri='+ window.location.href,'popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-facebook"></i></a></li>
            						<li><a href="#" target="_blank" onclick="window.open('https://twitter.com/share?url='+ window.location.href +'&amp;text=&amp;via=westhouseny','popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-twitter"></i></a></li>
            						<li><a href="mailto:?subject=&amp;body=" target="_blank"><i class="fa fa-envelope"></i></a></li>
            					</ul>
            				</div>
            
            			</div>
						<img src="/assets/images/6262/original/westhouse-hotel-new-york-westroom.jpg" alt="gal6" />
						<ul>
            				<li><a href="{{ 'photo-album/accommodations' | permalink }}">Accommodations</a></li>
            				 <li><a href="{{ 'photo-album/dining-2' | permalink }}">Dining</a></li> 
            			</ul>
					</div>
					<div class="galcontent">
						<p>WestHouse Hotel New York | Westroom</p>

					</div>
				</div>
				
			</div>

		</div>
{% include footer.html %}
