{% assign template_class = 'index' %}

{% include header.html %}

<div id="featured">
  <div class="elite" style="background-image: url(/assets/images/9480/original/WestHouse-Model-Exterior-6711-1.jpg);"></div>
  <div class="nyc-finalist"><img src="/assets/images/nyc-finalist.png" alt="NYC FINALIST" /></div>
</div>

<div id="award" class="{{ template }} vote">
  <div class="container">

    <div class="aw-con">
      <div class="awc-one">
        <h1>WELCOME TO WESTHOUSE HOTEL NEW YORK</h1></div>
      <div class="awc-two">Your home away from home when you visit New York City.</div>
    </div>
    <br>
    <br>

  </div>
</div>

<div class="frieze">
  <div class="container">

    <div class="col2 resident" style="background-image: url(/assets/images/res3.jpg);">
      <a href="{{ 'westhouse-hotel-amenities-nyc/resident-privileges' | permalink }}" class="dropanchor"></a>
      <div class="restext">Resident Privileges</div>
    </div>

    <div class="col2">
      <div class="awc-three">WELCOME TO LIVING #INRESIDENCE. </div>
      <div class="awc-four">We invite you to make WestHouse your house. WestHouse offers a vast array of bespoke privileges; from breakfast and evening light fare with wine and beer, served daily in our lounge areas, to high-speed WiFi, all covered by our nightly Resident Fee.</div>
    </div>

  </div>
</div>

<div id="hotel">
  <div class="container">

    <div class="flexslider hotelslider">
      <ul class="slides">
        <li style="background-image: url(/assets/images/4912/original/westhouse-hotel-new-york-entrance.jpg);"></li>
        <li style="background-image: url(/assets/images/9482/original/westhouse-hotel-new-york-terrace.jpg);"></li>
        <li style="background-image: url(/assets/images/9481/original/westhouse-hotel-new-york-the-den3.jpg);"></li>
      </ul>
    </div>

    <div class="hotelcontent">

      <div class="col3 htitle">
        <h3>Hotel</h3>
      </div>

      <div class="col3">
        {% region home_hotel_content %}
      </div>

      <div class="col3">
        {% region home_hotel_content_two %}
      </div>

    </div>

    <a href="{{ 'luxury-hotel-amenities-nyc' | permalink }}" class="continuebutton">more</a>

  </div>
</div>

<div id="offerspartners">
  <div class="container">

    <div class="col2 offers" style="background-image: url(/assets/images/9534/original/westhouse-hotel-new-york-mercedes-thumb.jpg);">
      <a href="{{ 'westhouse-offers' | permalink }}" class="dropanchor"></a>
      <div class="optitle">Offers</div>
    </div>

    <div class="col2 partners" style="background-image: url(/assets/images/9533/original/westhouse-hotel-new-york-good-hair-day-thumb.jpg);">
      <a href="{{ 'partners' | permalink }}" class="dropanchor"></a>
      <div class="optitle">Partners</div>
    </div>

  </div>
</div>

<div id="rooms">
  <div class="container">

    <div class="flexslider roomsslider">
      <ul class="slides">
        <li style="background-image: url(/assets/images/4952/original/westhouse-hotel-new-york-rooms1.jpg);"></li>
        <li style="background-image: url(/assets/images/9484/original/WestHouse-HomePage-Rooms2.jpg);"></li>
        <li style="background-image: url(/assets/images/9485/original/WestHouse-HomePage-Rooms1.jpg);"></li>
        <!--	<li style="background-image: url(/assets/images/4942/original/westhouse-hotel-new-york-rooms2.jpg);"></li>
					<li style="background-image: url(/assets/images/5652/original/westhouse-hotel-new-york-livingroom.jpg);"></li> -->
      </ul>
    </div>

    <div class="roomscontent">

      <div class="col3 htitle">
        <h3 style="text-align: center;">Rooms & Suites</h3>
      </div>

      <div class="col3">
        {% region home_rooms_content %}
      </div>

      <div class="col3">
        {% region home_rooms_content_two %}
      </div>

    </div>

    <a href="{{ 'luxury-rooms-suites-nyc' | permalink }}" class="continuebutton">more</a>

  </div>
</div>

<div id="tripadvisory">
  <div class="container">

    <div class="flexslider tripslider">
      <ul class="slides">

        {% for Tripadvisor in site.data._models.Tripadvisor %}
          <li>
            <div class="col3 triplogo"><img src="/assets/images/9487/original/tripadvisory.png" alt="triplogo" /></div>
            <div class="col3 testimonials">
              <p>"{{ Tripadvisor.contents }}"</p>
            </div>
            <div class="col3 author">
              <p>{{ Tripadvisor.Credit }}</p>
            </div>
          </li>
        {% endfor %}

      </ul>
    </div>

  </div>
</div>

<br>

{% include footer.html %}
