{% assign template_class = 'page-offers' %}

{% include header.html %}


<div id="featuredcontent" style="background-image: url(/assets/images/3642/original/Spherical-WestHouse-6839.jpg);">
	<h1 class="contenttitle">Offers</h1>
</div>

<div id="contentwidget">

  <div class="logo">
    <a href="/"><img src="/assets/images/712/original/logo3.png" alt="logo3" /></a>
  </div>

  {% include booking_form_interior.html %}

</div>

<div class="subnav">
	<ul>
    {% for Offers in site.data._models.Offers %}
		  <li><a href="{{ Offers.id | permalink: model_dir: 'offers' }}">{{ Offers.title }}</a></li>
		{% endfor %}
	</ul>
</div>


<div class="subnavmobile">
  <ul>
    {% for Offers in site.data._models.Offers %}
      <li><a href="{{ Offers.id | permalink: model_dir: 'offers' }}"><span>{{ Offers.title }}</span></a></li>
    {% endfor %}
    <div class="clear"></div>
  </ul>

  <div class="subclose"><i class="fa fa-bars"></i><span>View More Offers</span></div>

</div>

<div id="maincontent">
  <div class="container">
    {% region offers_textarea %}
  </div>
</div>

<div id="offerbox">

  {% for Offers in site.data._models.Offers %}
    <div class="halfoffer {% cycle 'steerleft' %}">

      <div class="hoffer-one" style="background-image: url({{ Offers.image.url }});">{% if Offer.partner_name %}
        <p>{{ Offers.partner_name }}</p>{% endif %}
        <a class="button1" href="{{ Offers.outbound }}">Book Now</a>
      </div>

      <div class="hoffer-two">

        <h3>{{ Offers.title }}</h3>

        <div style="min-height: 130px;">
          {{ Offers.contents | truncatewords: 14 }}
        </div>

        <div class="offerbook">
          <a href="{{ Offers.id | permalink: model_dir: 'offers' }}" class="first">Read More +</a>

          <span class="dropdown-social">
  			   <button><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
  			   <label>
             <ul class="share-widgets">
  			       <li>
  			       	 <a href="JavaScript:Void(0);" class="share_button"><i class="fa fa-facebook"></i></a>
  			       	 <a href="JavaScript:Void(0);" onclick="window.open('https://twitter.com/share?url='+ window.location.href +'&text={{ Offers.title }}&via=westhouseny','popUpWindow','height=350,width=520,scrollbars=yes'); return false;"><i class="fa fa-twitter"></i></a>
  			       	 <a href="mailto:?subject={{ Offers.title }}&body=Hey! Check this exciting offer. {{ site.url }}{{ Offers.id | permalink: model_dir: 'offers' }}"  title="Share by e-mail"><i class="fa fa-envelope"></i></a>
  			       	 </li>
  			     </ul>
  			   </label>
  			 </span>
          <div class="clear"></div>
        </div>

      </div>

      <div class="clear"></div>

    </div>
  {% endfor %}

</div>

<div id="fb-root"></div>
<script>
	window.fbAsyncInit = function() {
	FB.init({appId: '1883009305284419', status: true, cookie: true,
	xfbml: true});
	};
	(function() {
	var e = document.createElement('script'); e.async = true;
	e.src = document.location.protocol +
	'//connect.facebook.net/en_US/all.js';
	document.getElementById('fb-root').appendChild(e);
	}());

	$(document).ready(function() {
		$('.dropdown-social').click(function(){
			 $('.dropdown-social').not(this).find('.share-widgets').hide('slow');
			$(this).find('.share-widgets').toggle();
		});
		$('.share_button').click(function(e){
		   e.preventDefault();
			FB.ui({
				method: 'share_open_graph',
				action_type: 'og.shares',
				action_properties: JSON.stringify({
					object : {
					   'og:url': window.location.href,
					   'og:title': $(this).closest(".halfoffer").find("h3").text(),
					   'og:description': $(".hoffer-two p").text(),
					   'og:image:width': '1200',
					   'og:image:height': '650',
					   'og:image': $(this).closest(".halfoffer").find('.hoffer-one').css("backgroundImage").replace(/.*\s?url\([\'\"]?/, '').replace(/[\'\"]?\).*/, '')
					}
				})
			});
		});
	});
</script>

{% include footer.html %}