{% assign template_class = 'page-ourhouse' %}

{% include header.html %}
		

    <div id="featuredcontent" style="background-image: url(/assets/images/1942/original/WestHouse-HomePage-Hotel1.jpg);">

            <h1 class="contenttitle">Our House</h1>

            <div class="reserve"><a class="button1" href="#">Reserve</a></div>

        </div>

        <div id="contentwidget">
            <div class="logo"><a href="/"><img src="/assets/images/712/original/logo3.png" alt="logo3" /></a></div>

           <!-- include booking form -->

            {% include booking_form_interior.html %}

            <!-- // include booking form -->


        </div>

        <div class="subnav">
            <ul>
                <li><a href="{{ 'things-to-do-in-nyc' | permalink }}">Explore The Neighborhood</a></li>
                <li><a href="{{ 'partners' | permalink }}">View our Partners</a></li>
            </ul>
        </div>
        
        
        <div class="subnavmobile">
			<ul>
				<li><a href="{{ 'things-to-do-in-nyc' | permalink }}"><span>Explore The Neighborhood</span></a></li>
				<li><a href="{{ 'partners' | permalink }}"><span>View our Partners</span></a></li>
				<div class="clear"></div>
			</ul>
			<div class="subclose"><i class="fa fa-bars"></i><span>View Our House</span></div>
        </div>
        

        <div id="maincontent">

            <div class="container">

                <h3 class="subheading">{% region ourhouse_title_two %}</h3>

                <div class="article">

                   {% region our_house_content %}
                   
                   <div class="brg">

                        <h3 class="subheading">{% region best_rate_title %}</h3>
    
                        <p style="max-width: 60%; text-align: center; margin: auto;">{% region our_house_content_two %}</p>
    
                    </div>
                   
                   
                </div>

                <aside>

                    <a href="{{ 'things-to-do-in-nyc' | permalink }}"><img src="/assets/images/3522/original/map.jpg" alt="Westhouse Neighborhood" />

                    <a href="{{ 'things-to-do-in-nyc' | permalink }}" class="button1">Explore the Neighborhood</a>
                    <a href="{{ 'partners' | permalink }}" class="button1">View our partners</a>

                </aside>

                <div class="clear"></div>

            </div>

        </div>

		
{% include footer.html %}