{% assign template_class = 'pageaffiliates' %}


{% include header.html %}

	
		<div id="featuredcontent" style="background-image: url('/assets/images/9529/original/westhouse-chairty-new.png');">

			<h1 class="contenttitle">Affiliate Charities</h1>

		</div>

		<div id="contentwidget">
		   <div class="logo"><a href="/"><img src="/assets/images/712/original/logo3.png" alt="logo3" /></a></div>

            {% include booking_form_interior.html %}

		</div>

		<div class="subnav">

    	</div>
    	

		<div id="maincontent">
		
			<div class="container">
		
                {% region the_content %}
			
			</div>
		<div class="button-container-save" >
		            <a href="https://goo.gl/OJexpZ" target="_blank" class="button-common">DONATE NOW  </a>
		            </div>
		</div>



{% include footer.html %}