{% include header.html %}

        <div class="featured-wrapper">
        	<div id="featuredcontent" style="background-image: url('https://cdn.traveltripper.io/assets/4912/original/westhouse-hotel-new-york-entrance.jpg');">
        	<h1 class="contenttitle">Page Not Found</h1></div>
        </div>
        <h4 class="sorry">We're sorry but it looks like that page doesn't exist anymore.<br>Please view the Sitemap below or go back to the <a href="/">Homepage.</a></h4>
		<div id="maincontent">
			<div class="container errorpage">
				{% region site_map %}
			</div>
		</div>
		

{% include footer.html %}