{% assign template_class = 'pageaffiliates' %}


{% template title:header %}

	
		<div id="featuredcontent" style="background-image: url('http://cdn.traveltripper.io/assets/9529/original/westhouse-chairty-new.png');">

			<h1 class="contenttitle">Affiliate Charities</h1>

		</div>

		<div id="contentwidget">
		   <div class="logo"><a href="/"><img src="http://cdn.traveltripper.io/assets/712/original/logo3.png" alt="logo3" /></a></div>

            {% template title:booking_form_interior %}

		</div>

		<div class="subnav">

    	</div>
    	

		<div id="maincontent">
		
			<div class="container">
		
				{% region id: the_content %}
			
			</div>
		
		</div>
{% template title:footer %}