{% assign Partners = page %}
{% assign model = page %}
{% assign Partners = page %}
{% assign model = page %}
{% assign template_class = 'page-parthers-single' %}
{% assign seo_title = Partners.seo_title %}
{% assign seo_description = Partners.seo_description %}

{% include header.html %}

	
		<div id="featuredcontent" style="background-image: url({{ Partners.image.url }});">

			<h1 class="contenttitle">{{ Partners.title }}</h1>

			<div class="reserve"><a class="button1" href="#">Reserve</a></div>

		</div>

		<div id="contentwidget">
		   <div class="logo"><a href="/"><img src="/assets/images/712/original/logo3.png" alt="logo3" /></a></div>

           <!-- include booking form -->

            {% include booking_form_interior.html %}

            <!-- // include booking form -->
		</div>

		<div class="subnav partners">
			<ul>
			
			    {% for Partners in site.data._models.Partners %}

        		<li><a href="{{ Partners.id | permalink: model_dir: 'westhouse-hotel-new-york-partners' }}">{{ Partners.title }}</a></li>
                {% endfor %}
				
			</ul>
		</div>
		
		
        <div class="subnavmobile">
          <ul>
            {% for Partners in site.data._models.Partners %}
			<li><a href="{{ Partners.id | permalink: model_dir: 'westhouse-hotel-new-york-partners' }}"><span>{{ Partners.title }}</span></a></li>
            {% endfor %}
            <div class="clear"></div>
          </ul>
          
          <div class="subclose"><i class="fa fa-bars"></i><span>View More Partners</span></div>
        </div>
        
		
		<div id="maincontent">
		
			<div class="container">
			
				<h2 style="text-align:center;" class="main-heading">{{ Partners.title }}</h2>
				
			    {{ Partners.contents }}
			    
			    
			</div>
			
		</div>
		
		<!--<div class="partnersmeta">
		
			<div class="col2">
			
				<div class="pr15">
		
					<p><img src="images/partners-detail1.jpg" alt="partner" /></p>
					
					<blockquote>Ah, it was a fine night, a warm night, a wine-drinking night, a moony night, and a night to hug your girl and talk and spit and be heavengoing</blockquote>
				
				</div>
			
			</div>
			
			<div class="col2">
			
				<div class="pl15">
		
					<p><img src="images/partners-detail2.jpg" alt="partner" /></p>
				
				</div>
			
			</div>
			
			<div class="col1">
		
					<p><img src="images/partners-detail3.jpg" alt="partner" /></p>
				
			</div>
			
		</div>-->
		

{% include footer.html %}