{% assign template_class = 'page-partners' %}

{% template title:header %}

	
		<div id="featuredcontent" style="background-image: url(http://cdn.traveltripper.io/assets/5922/original/westhouse-hotel-new-york-good-hair-day.jpg);">

			<h1 class="contenttitle">Our Partners</h1>

			<div class="reserve"><a class="button1" href="#">Reserve</a></div>

		</div>

		<div id="contentwidget">
		   <div class="logo"><a href="/"><img src="http://cdn.traveltripper.io/assets/712/original/logo3.png" alt="logo3" /></a></div>

           <!-- include booking form -->

            {% template title:booking_form_interior %}

            <!-- // include booking form -->
		</div>

		<div class="subnav partners">
			<ul>
			
			    {% models model:Partners %}

        		<li><a href="{% link id:1072, instance:Partners %}">{{ Partners.title }}</a></li>
                {% endmodels %}
				
			</ul>
		</div>
		
		
        <div class="subnavmobile">
          <ul>
            {% models model:Partners %}
			<li><a href="{% link id:1072, instance:Partners %}"><span>{{ Partners.title }}</span></a></li>
            {% endmodels %}
            <div class="clear"></div>
          </ul>
          
          <div class="subclose"><i class="fa fa-bars"></i><span>View More Partners</span></div>
        </div>

		<div id="maincontent">

			<div class="container">

				<h2 style="text-align:center;">{% region id:partners_title %}</h2>

			     {% region id:partners_text %}

			</div>

		</div>

		<div id="partnerslist">
			<ul>
			
			    {% models model:Partners %}

        		<li style="background-image: url({{ Partners.image.url }});">

        			<a href="{% link id:1072, instance:Partners %}"><h3 class="roomtitle">{{ Partners.title }}</h3></a>
        			
        		</li>
        		
                {% endmodels %}


			</ul>

		</div>
		

{% template title:footer %}