{% assign template_class = 'page-partners' %}

{% include header.html %}

	
		<div id="featuredcontent" style="background-image: url(/assets/images/5922/original/westhouse-hotel-new-york-good-hair-day.jpg);">

			<h1 class="contenttitle">Our Partners</h1>

			<div class="reserve"><a class="button1" href="#">Reserve</a></div>

		</div>

		<div id="contentwidget">
		   <div class="logo"><a href="/"><img src="/assets/images/712/original/logo3.png" alt="logo3" /></a></div>

           <!-- include booking form -->

            {% include booking_form_interior.html %}

            <!-- // include booking form -->
		</div>

		<div class="subnav partners">
			<ul>
			
			    {% for Partners in site.data._models.Partners %}

        		<li><a href="{{ Partners.id | permalink: model_dir: 'westhouse-hotel-new-york-partners' }}">{{ Partners.title }}</a></li>
                {% endfor %}
				
			</ul>
		</div>
		
		
        <div class="subnavmobile">
          <ul>
            {% for Partners in site.data._models.Partners %}
			<li><a href="{{ Partners.id | permalink: model_dir: 'westhouse-hotel-new-york-partners' }}"><span>{{ Partners.title }}</span></a></li>
            {% endfor %}
            <div class="clear"></div>
          </ul>
          
          <div class="subclose"><i class="fa fa-bars"></i><span>View More Partners</span></div>
        </div>

		<div id="maincontent">

			<div class="container">

				<h2 style="text-align:center;">{% region partners_title %}</h2>

			     {% region partners_text %}

			</div>

		</div>

		<div id="partnerslist">
			<ul>
			
			    {% for Partners in site.data._models.Partners %}

        		<li style="background-image: url({{ Partners.image.url }});">

        			<a href="{{ Partners.id | permalink: model_dir: 'westhouse-hotel-new-york-partners' }}"><h3 class="roomtitle">{{ Partners.title }}</h3></a>
        			
        		</li>
        		
                {% endfor %}


			</ul>

		</div>
		

{% include footer.html %}