{% assign template_class = 'page-perfect-picnic' %}

{% include header.html %}



        <div id="featuredcontent" style="background-image: url('/assets/images/4912/original/westhouse-hotel-new-york-entrance.jpg');">
		
			<!--<h2 class="contenttitle"></h2>-->
			
			<!--<div class="reserve"><a class="button1" href="#">Reserve</a></div>-->
			
		</div>

		<div id="contentwidget">
		   <div class="logo"><a href="/"><img src="/assets/images/712/original/logo3.png" alt="logo3" /></a></div>

           <!-- include booking form -->

            {% include booking_form_interior.html %}

            <!-- // include booking form -->
		</div>
		

		
		<div id="maincontent">
		
			<div class="container culinary-guide-list">
		
				{% region entertainment_neighborhood_text %}
				
		    </div>
		    
		    <div class="culinary-outer">
			{% for LocationsInCategory-Culinary-Dinner in site.data._models.Culinary-Guide %}
{% assign categoryIds = LocationsInCategory-Culinary-Dinner.category | map: 'id' %}
{% if categoryIds contains '56b0c34c77e2f50003f8af66' %}
			
				<div class="hvr-sweep-to-left cg-post-image{% comment %} // Saved %comment% for future use. // Delete it if you want {% cycle 'cg-post-image', 'cg-post-noimage' %} {% endcomment %}">
				
				<div class="culinary-post">
				    <div class="cg-image"><img src="{{LocationsInCategory-Culinary-Dinner.image.url }}" align="left"></div>
					<div class="cg-details">
					    <h3><a target="_blank" href="{{ LocationsInCategory-Culinary-Dinner.Outbound_Link }}">{{ LocationsInCategory-Culinary-Dinner.title }}</a></h3>
					    <p>{{ LocationsInCategory-Culinary-Dinner.contents }}</p>
				    </div>
				</div>
				
				</div>
			
			{% endif %}
{% endfor %}
			
			<div class="clear"></div>
			
			<div class="single-culinary-fineprint">
    	            <p><br></p>
    	            <p>* = number of Michelin Stars</p>
        	        <p>
        	            This Dine Around Guide was created by <a href="http://trendsontrends.com/" target="_blank">Trends on Trends</a> (<strong><a href="https://www.instagram.com/trendsontrends_/?hl=en" target="_blank">@trendsontrends_</a></strong> ) with WestHouse (<strong>@westhouseny</strong>).<br />
        	            Lovely illustrations by: <a href="http://endlesslyenraptured.com/" target="_blank">Jade Sheldon</a> (<strong><a href="https://www.instagram.com/jade_melissa/" target="_blank">@jade_melissa</a></strong>) and printing by: <a href="http://presshausla.com/" target="_blank">Presshaus LA</a> (<strong><a href="https://www.instagram.com/presshausla/">@presshausla</a></strong>). 
        	        </p>
    	    </div>
		
		</div>

		    
		</div>
		
{% include footer.html %}