{% assign template_class = 'content' %}

{% include header.html %}

<div class="featured-wrapper">

	{% region content_image %}


</div>

		
			
			
			<!--<div class="reserve"><a class="button1" href="#">Reserve</a></div>-->


		<div id="contentwidget">
		   <div class="logo"><a href="/"><img src="/assets/images/712/original/logo3.png" alt="logo3" /></a></div>

           <!-- include booking form -->

            {% include booking_form_interior.html %}

            <!-- // include booking form -->
		</div>
		

		
		<div id="maincontent" class="picnic">

			<h1 class="contenttitle">{% region title_picnic %}</h1>

				<div class="container culinary-guide-main no-space">
					
					<h3>WestHouse is a proud partner of Perfect Picnic, NYC’s first luxury picnic experience company.</h3>
					<p class="ypp-tagline">You will be able to enjoy a customized menu of picnics made of the most local, fresh and organic products, every day between 10AM and 4PM.</p>

				</div>


			<div class="container conpic">
		 
		    <div class="culinary-outer">

		    	{% assign PicnicSorted = site.data._models.Picnic | sort: 'orderby' %}
				{% for LocationsInCategory-Picnic in PicnicSorted %}

					<div class="hvr-sweep-to-left cg-post-image{% comment %} // Saved %comment% for future use. // Delete it if you want {% cycle 'cg-post-image', 'cg-post-noimage' %} {% endcomment %}">

						<div class="picnic-post">
							<div class="picnic-image">
								<img src="{{LocationsInCategory-Picnic.featured_image.url }}" align="left">
							</div>
							<div class="picnic-details ">

								<h2 class="picnic">{{ LocationsInCategory-Picnic.title }}</h2>

								<h3 class="picnic">{{ LocationsInCategory-Picnic.price }}</h3>

								{% if LocationsInCategory-Picnic.price2 != '' %}
									<h3 class="picnic">{{ LocationsInCategory-Picnic.price2 }}</h3>
								{% endif %}

								{% if LocationsInCategory-Picnic.sub_heading != '' %}
									<h3 class="picnic sub-heading">{{ LocationsInCategory-Picnic.sub_heading }}</h3>
								{% endif %}

								<div class="content">
									{{ LocationsInCategory-Picnic.contents }}
								</div>	

							</div>
						</div>

					</div>


				{% endfor %}

				<div class="picnic-additional-info"><p align="justify">For additional information and to book your perfect picnic, please contact our Concierge at <a href="tel:1-212-707-4820"><strong>212-707-4820</strong></a> or email at <a href="mailto:concierge@westhousehotelnewyork.com"><strong>concierge@westhousehotelnewyork.com</strong></a></p></div>
				
		    </div>
		    

			
			<div class="clear"></div>
			

		
		</div>

		    
		</div>
		
{% include footer.html %}