{% assign template_class = 'page-perfect-picnic' %}

{% include header.html %}



        <div id="featuredcontent" style="background-image: url('/assets/images/perfect-picnic-header.jpg');">
		
			<h2 class="contenttitle">Perfect Picnic</h2>
			
			<!--<div class="reserve"><a class="button1" href="#">Reserve</a></div>-->
			
		</div>

		<div id="contentwidget">
		   <div class="logo"><a href="/"><img src="/assets/images/712/original/logo3.png" alt="logo3" /></a></div>

           <!-- include booking form -->

            {% include booking_form_interior.html %}

            <!-- // include booking form -->
		</div>
		

		
		<div id="maincontent">

			<h1 class="contenttitle">OUR PERFECT PICNIC</h1>
		
			<div class="container">
		
		    <div class="culinary-outer">
				{% for LocationsInCategory-PerfectPicnic in site.data._models.PerfectPicnic %}
			

				<div class="hvr-sweep-to-left cg-post-image{% comment %} // Saved %comment% for future use. // Delete it if you want {% cycle 'cg-post-image', 'cg-post-noimage' %} {% endcomment %}">

				<div class="picnic-post">
				<div class="picnic-image"><img src="{{LocationsInCategory-PerfectPicnic.featured_image.url }}" align="left"></div>
				<div class="picnic-details ">
				<h3 class="picnic-title">{{ LocationsInCategory-PerfectPicnic.title }}</h3>
				<div class="price-picnic">{{ LocationsInCategory-PerfectPicnic.price }}</div>
				<p>{{ LocationsInCategory-PerfectPicnic.contents }}</p>
				</div>
				</div>

			</div>


				{% endfor %}
				
		    </div>
		    

			
			<div class="clear"></div>
			

		
		</div>

		    
		</div>
		
{% include footer.html %}