{% assign template_class = 'ppc' %}

{% include header.html %}

        <div id="featuredcontent" style="background-image: url('/assets/images/9480/original/WestHouse-Model-Exterior-6711-1.jpg');">
		
			<h2 class="contenttitle_ppc">

			<div class="content_border">Luxury Hotel Experience in NYC <br> <span id="save25">SAVE 25%</span></div>
			
			<div class="reserveppc"><a class="button_ppc" href="https://westhousehotelnewyork.reztrip.com/ext/promoRate?property=354&mode=b&pm=true&sr=159510&vr=3" target="_blank">Reserve Now</a></div>

			</h2>
			
			
			
		</div>
		
		<div id="contentwidget">
		   <div class="logo"><a href="/"><img src="/assets/images/712/original/logo3.png" alt="logo3" /></a></div>

           <!-- include booking form -->

            {% include booking_form_interior.html %}

            <!-- // include booking form -->
		</div>
		
		<div class="subnav">
		</div>
		
		<div id="maincontent">
		
			<div class="container">
		
				{% region ppc %}
			
			</div>
		
		</div>
		

{% include footer.html %}