{% assign template_class = 'page-press' %}

{% include header.html %}

		
  <div id="featuredcontent" style="background-image: url(/assets/images/3752/original/press-header-image.jpg);">

            <h1 class="contenttitle">Press</h1>

            <div class="reserve"><a class="button1" href="#">Reserve</a></div>

        </div>

        <div id="contentwidget">
            <div class="logo"><a href="/"><img src="/assets/images/712/original/logo3.png" alt="logo3" /></a></div>

           <!-- include booking form -->

            {% include booking_form_interior.html %}

            <!-- // include booking form -->


        </div>
		
		<!-- <div class="subnav">
			<ul>
				<li><a href="#">Press</a></li>
				<li><a href="#">Press Release</a></li>
			</ul>
		</div> -->
		
		<div id="maincontent">
		
			<div class="container">
		
				<!--<p style="text-align:center;">For media inquiries on WestHouse Hotel New York please contact:</p>

				<p style="text-align:center;">Victoria Hood<br/>
				Brandstyle Communications<br/>
				646.795.3382<br/>
				<strong><a href="mailto:victoria@brandstylecommunications.com">victoria@brandstylecommunications.com</a></strong></p>


				<p style="text-align:center;">For International media inquiries on WestHouse Hotel New York please contact:</p>

				<p style="text-align:center;">Bronson Soares<br/>
				3A Worldwide<br/>
				786.362.6500<br/>
				<strong><a href="mailto:bronson@3aworldwide.com">bronson@3aworldwide.com</a></strong></p>-->
				
				
				{% region press_primarytext %}
				
				<br>
				<br>
				<a href="/assets/images/3962/original/Press_Release_Opening_of_the_Den_Final.pdf" class="button slipbutton" target="_blank">Download Latest Press Release</a>
			    <br>
				<br>
				
				<div class="pressform">
				    
				    <form action="http://westhousehotelnewyork.us10.list-manage.com/subscribe/post" method="POST" target="_blank">
				        <input type="hidden" name="u" value="61f36311a0c42f36d5f94d84e">
                        <input type="hidden" name="id" value="7e925767cd">
				        <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" value="" placeholder="Your Email">
				        
				        <!-- real people should not fill this in and expect good things -->
                        <div class="hidden-from-view" style="left: -5000px; position: absolute;"><input type="text" name="b_61f36311a0c42f36d5f94d84e_7e925767cd" tabindex="-1" value=""></div>

				        <input type="submit" value="Request Press Images" />
				    </form>
				    
				</div>
			</div>
		
		</div>
		
{% include footer.html %}