{% assign template_class = 'single-rooms' %}
{% assign seo_title = Room.seo_title %}
{% assign seo_description = Room.seo_description %}

{% include header.html %}
<div class="room-detailss" rt3-rooms-browser="browser" rt3-room-details="details" rt3-search-form="search">


		<div id="featuredcontent" style="background-image: url([[ details.photos[0].large ]]);">
		
			<h2 class="contenttitle">[[details.name]]</h2>
			
			<div class="reserve"><a class="button1" href="#">Reserve</a></div>
			
		</div>
		
		<div id="contentwidget" style="margin-bottom: 0; border-bottom: 0">
			<div class="logo"><img src="/assets/images/712/original/logo3.png" alt="logo3" /></div>
		
		    <!-- include booking form -->

            {% include booking_form_interior.html %}

            <!-- // include booking form -->
            
		</div>
		
		<!-- Other rooms list -->
		<div class="subnav">
			<ul>
				<li ng-repeat="room in browser.rooms" ng-if="room.code != 'QUAD' && room.code != 'WHKSA'">
				    <a href="{{ 'luxury-rooms-suites-nyc/room' | permalink }}#[[room.code]]">[[room.name]]</a>
				</li>		    
			</ul>
		</div>
		
		<!-- Current room details -->
		<div id="roomdetails">
			<div class="container">
				<h1>[[details.name]]</h1>
				<div class="roomdate">

					<div class="datepickerman"></div>

					<div class="reservationform ahiddenform">
                        <div on-search-changed="details.fetchRoomDetails()">
                            <form class="desky" autocomplete="off" method="get" enctype="multipart/form-data" name="omni_reservation_form_" action="https://westhousehotelnewyork.reztrip.com/search?" target="_self">
                                <input type="hidden" name="room_id" value="[[details.params.room_id]]" >
        						<span class="calsec" style="margin-left: 10px;">
        							<input type="text" id="arrival_dates" ng-model="search.params.arrival_date" name="arrival_date" placeholder="Arrival" class="calendarsection"/>
        							<input type="hidden"  id="arv">
        							<i class="fa fa-calendar"></i>
        						</span>
        
        						<span class="calsec">
        							<input type="text" id="departure_dates" ng-model="search.params.departure_date" name="departure_date" placeholder="Departure" class="calendarsection"/>
        							<input type="hidden" id="dep">
        							<i class="fa fa-calendar"></i>
        						</span>
        
        						<span class="dropsec" style="margin-right: 6px">
        							<select name="adults[]" ng-model="search.params.adults" id="adults" class="halfsies">
        								<option value="1" ng-selected="true">1 Adult</option>
        								<option value="2">2 Adults</option>
        								<option value="3">3 Adults</option>
        								<option value="4">4 Adults</option>
        							</select>
        						</span>
        
        						<span class="dropsec">
        							<select name="children[]" ng-model="search.params.children" id="children" class="halfsies">
        								<option value="0" ng-selected="true">0 Kids</option>
        								<option value="1">1 Kid</option>
        								<option value="2">2 Kids</option>
        								<option value="3">3 Kids</option>
        							</select>
        						</span>
        						<input type="submit" value="Search Now" class="button1">
        					</form>
        					
        					
                            <form class="moby" autocomplete="off" method="get" enctype="multipart/form-data" name="omni_reservation_form_" action="https://westhousehotelnewyork.reztrip.com/search?" target="_self">
                                
                                
        						<span class="calsec" style="margin-left: 10px;">
        							<input type="text" id="arrival_datess" ng-model="search.params.arrival_date" name="arrival_date" placeholder="Arrival" class="calendarsection"/>
        							<input type="hidden"  id="arv">
        							<i class="fa fa-calendar"></i>
        						</span>
        
        						<span class="calsec">
        							<input type="text" id="departure_datess" ng-model="search.params.departure_date" name="departure_date" placeholder="Departure" class="calendarsection"/>
        							<input type="hidden" id="dep">
        							<i class="fa fa-calendar"></i>
        						</span>
        
        						<span class="dropsec" style="margin-right: 6px">
        							<select name="adults[]" ng-model="search.params.adults" id="adults" class="halfsies">
        								<option value="1" ng-selected="true">1 Adult</option>
        								<option value="2">2 Adults</option>
        								<option value="3">3 Adults</option>
        								<option value="4">4 Adults</option>
        							</select>
        						</span>
        
        						<span class="dropsec">
        							<select name="children[]" ng-model="search.params.children" id="children" class="halfsies">
        								<option value="0" ng-selected="true">0 Kids</option>
        								<option value="1">1 Kid</option>
        								<option value="2">2 Kids</option>
        								<option value="3">3 Kids</option>
        							</select>
        						</span>
        						<input type="submit" value="Search Now" class="button1">
        					</form>
                        </div>
					</div>
					<p>Click to change arrival/departure dates</p>
				</div>

				
				<div class="roominfo">
					<p>[[details.description]]</p>
			
					<p>
					    <strong>BEST RATE. EVERY TIME.</strong>
                        <span style="clear: left; display: inline-block;">Always receive the best possible rate by booking through our website, reservations line or contacting the hotel directly.</span>
                    </p>   
					
					<div class="bookrate">
					    
					    <div class="full-width" ng-show="!details.brg.discounted_rate">
					        
					        <p><strong>Unavailable on Selected Date</strong></p>
					        
					        <div class="directrate">
    						    <div class="bookrate-loader" ng-show="!details.loaded">
        					        <div class="throbber-loader throbber-loader_bookrate">Loading…</div>
        					    </div>
        					    
    							<div ng-show="!details.brg.discounted_rate">
    							    <a href="https://westhousehotelnewyork.reztrip.com/search?omni_reservation_form=Reserve&arrival_date=[[details.params.arrival_date]]&departure_date=[[details.params.departure_date]]&adults%5B%5D=&_ga=1.74918930.1044581237.1437574763">Search Available Rooms</a>
    							</div>
    						</div>
					        
					    </div>
					    
					    <div class="left" ng-show="details.brg.discounted_rate">
					        
					        <div class="directrate">
    							<div ng-show="details.brg.discounted_rate">Direct Rate</div>
    							<div class="directprice" ng-show="details.brg.discounted_rate">$[[details.brg.discounted_rate | noFractionCurrency]]</div>
    						</div>
    						
    						<div class="reservenowbutton" ng-show="details.brg.discounted_rate">
        				        <form action="https://westhousehotelnewyork.reztrip.com/en/bookings" method="POST">
                                  <input type="hidden" name="rooms" value="[[details.params.rooms]]"/>
                                  <input type="hidden" name="adults" value="[[details.params.adults]]"/>
                                  <input type="hidden" name="children" value="[[details.params.children]]"/>
                                  <input type="hidden" name="arrival_date" value="[[details.params.arrival_date]]">
                                  <input type="hidden" name="departure_date" value="[[details.params.departure_date]]">
                                  <input type="hidden" name="room_id" value="[[details.params.room_id]]" >
                                  
                                  <input type="hidden" name="avg_brg_discounted_price" value="[[details.brg.avg_brg_discounted_price]]"/>
                                  <input type="hidden" name="avg_brg_original_price" value="[[details.brg.avg_brg_original_price]]"/>
                                  <input type="hidden" name="action_name" value="details"/> <!-- magic constant value -->
                                  <input type="hidden" name="is_brg_room" value="[[details.brg.show_brg]]"/>
                                  <input type="hidden" name="is_brg_request" value="[[details.brg.show_brg]]"/>
                                  <input type="hidden" name="discount_threshold_exceeded" value="[[details.brg.discount_threshold_exceeded]]"/>
                                  <input type="hidden" name="brg_rate_rule_name" value="[[details.brg.dpr_name]]"/>
                                  
                                  <input class="button2" type="submit" class="btn btn-success btn-submit" value="Reserve now">
                                </form>
        					</div>
					        
					    </div>
					    <div class="right">
                            <div class="othersrate" ng-show="details.brg.rates.length">
    							<ul>
    								<li ng-repeat="rate in details.brg.rates">$[[rate.rate | currency:""]]  -  [[rate.provider]]</li>
    							</ul>
    						</div>
					    </div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="roomslider">
			<div class="container">
				<div class="flexslider roomdetailslider">
					<ul class="slides">
						<li><img class='loader' src="https://media4.giphy.com/media/GkxqVpI0AWGuA/200_s.gif"/></li>
					</ul>
				</div>
			</div>
		</div>
		
		
		<div id="roommoredetail">
			<div class="container">
				<div class="hamburger"><i class="fa fa-bars"></i></div>
		<div ng-if="details.params.room_id != 'WHPS' && details.params.room_id != 'WHPRS'">		
			<div class="merch-sec" rt3-rate-shopping="rateShopping">
                <div class="container">
                    <div ng-if="details.params.room_id == 'WHQL'">
						   <div class="littleimage" style="background-image: url(/assets/images/9644/original/luxury-queen.jpg);"></div>
				        </div>
				        <div ng-if="details.params.room_id == 'WHK'">
						  <div class="littleimage" style="background-image: url(/assets/images/9641/original/king.jpg);"></div>
				        </div>
				        <div ng-if="details.params.room_id == 'WHKL'">
						    <div class="littleimage" style="background-image: url(/assets/images/9645/original/one-bedroom-suite.jpg);"></div>
				        </div>
				        <div ng-if="details.params.room_id == 'WHQQ'">
						   <div class="littleimage" style="background-image: url(/assets/images/9648/original/two-queen.jpg);"></div>
				        </div>
				        <div ng-if="details.params.room_id == 'WHKTS'">
						   <div class="littleimage" style="background-image: url(/assets/images/9647/original/times-square-view-king.jpg);"></div>
				        </div>
				        <div ng-if="details.params.room_id == 'WHKS'">
						   <div class="littleimage" style="background-image: url(/assets/images/9643/original/luxury-king.jpg);"></div>
				        </div>
				        <div ng-if="details.params.room_id == 'WHKST'">
						  <div class="littleimage" style="background-image: url(/assets/images/9646/original/terrace-suite.jpg);"></div>
			        </div>
                    <div class="merch-copy">
                        <h1 style="text-transform:none;">
                                Interactive 360° View
                                <span>
                                    BEFORE YOU BOOK, TAKE A WALK THROUGH OF YOUR <br />
                                    ROOM USING OUR VIRTUAL TOUUR TECHNOLOGY.
                                </span>
                            </h1>
                        <br/>
                    </div>
                    <div class="reserve1">
                        <div ng-if="details.params.room_id == 'WHQL'">
						   <a target="_blank" href="http://viewer.vrglobal.com/oTR6FfqW" class="button1">TAKE VIRTUAL TOUR</a>
				        </div>
				        <div ng-if="details.params.room_id == 'WHK'">
						   <a target="_blank" href="http://viewer.vrglobal.com/d7jiAWyW" class="button1">TAKE VIRTUAL TOUR</a>
				        </div>
				        <div ng-if="details.params.room_id == 'WHKL'">
						   <a target="_blank" href="http://viewer.vrglobal.com/bI4wwp6J" class="button1">TAKE VIRTUAL TOUR</a>
				        </div>
				        <div ng-if="details.params.room_id == 'WHQQ'">
						   <a target="_blank" href="http://viewer.vrglobal.com/6jvNwfVD" class="button1">TAKE VIRTUAL TOUR</a>
				        </div>
				        <div ng-if="details.params.room_id == 'WHKTS'">
						   <a target="_blank" href="http://viewer.vrglobal.com/YCWYXsel" class="button1">TAKE VIRTUAL TOUR</a>
				        </div>
				        <div ng-if="details.params.room_id == 'WHKS'">
						   <a target="_blank" href="http://viewer.vrglobal.com/SMDi7vqd" class="button1">TAKE VIRTUAL TOUR</a>
				        </div>
				        <div ng-if="details.params.room_id == 'WHKST'">
						   <a target="_blank" href="http://viewer.vrglobal.com/X3EZAOZ9" class="button1">TAKE VIRTUAL TOUR</a>
				        </div>
                        
                    </div> 
                    
                    <span class="closethiswindow">X</span>
                    
                </div>
            </div>
				
				<div class="roomamenities">
					<ul>
						<li ng-repeat="item in details.amenities">[[item]]</li>
					</ul>
				</div>
				
				<div class="roomvt">

                    <div class="vtr-btn-box">
                        <div ng-if="details.params.room_id == 'WHQL'">
						   <a target="_blank" href="http://viewer.vrglobal.com/oTR6FfqW" class="button1">VIEW VIRTUAL TOUR</a>
				        </div>
				        <div ng-if="details.params.room_id == 'WHK'">
						   <a target="_blank" href="http://viewer.vrglobal.com/d7jiAWyW" class="button1">VIEW VIRTUAL TOUR</a>
				        </div>
				        <div ng-if="details.params.room_id == 'WHKL'">
						   <a target="_blank" href="http://viewer.vrglobal.com/bI4wwp6J" class="button1">VIEW VIRTUAL TOUR</a>
				        </div>
				        <div ng-if="details.params.room_id == 'WHQQ'">
						   <a target="_blank" href="http://viewer.vrglobal.com/6jvNwfVD" class="button1">VIEWVIRTUAL TOUR</a>
				        </div>
				        <div ng-if="details.params.room_id == 'WHKTS'">
						   <a target="_blank" href="http://viewer.vrglobal.com/YCWYXsel" class="button1">VIEW VIRTUAL TOUR</a>
				        </div>
				        <div ng-if="details.params.room_id == 'WHKS'">
						   <a target="_blank" href="http://viewer.vrglobal.com/SMDi7vqd" class="button1">VIEW VIRTUAL TOUR</a>
				        </div>
				        <div ng-if="details.params.room_id == 'WHKST'">
						   <a target="_blank" href="http://viewer.vrglobal.com/X3EZAOZ9" class="button1">VIEW VIRTUAL TOUR</a>
				        </div>
                        
                    </div> 
				    <!--
				    <h3>VIRTUAL TOUR</h3>
				    
				    <div ng-if="details.params.room_id == 'WHQL'">
						<div><script src="http://tour.vrglobal.co/embed/embed.js" async data-panorama="bd7aa7d260ad5b9e79b4de0c1522a8e297556462" data-initial-width="400" data-auto-open="false" data-hide-caption="false" data-initial-height="200" data-preview="http://169.54.26.184:3000//uploads/media_content/picture/0/processed_c7b05fcbac777c9fb9a4a4ed848ee67c86ef45dd0d6ae15aa665f79bbb5d86c7.jpg" data-quality="auto"  data-percentage-mode="false" data-percentage-mode-height="false" data-title="Luxury Queen Bedroom" > </script></div>
					</div>
					
					<div ng-if="details.params.room_id == 'WHK'">
						<div><script src="http://tour.vrglobal.co/embed/embed.js" async data-panorama="e2851ae4a1420fb4935d33ff88f126b790203524" data-initial-width="400" data-auto-open="false" data-hide-caption="false" data-initial-height="200" data-preview="http://169.54.26.184:3000//uploads/media_content/picture/0/processed_26109332eb6038e7e578b04d6d5ad68474779cd7298e547ad5618fe5f545a774.jpg" data-quality="auto"  data-percentage-mode="false" data-percentage-mode-height="false" data-title="King Bedroom" > </script></div>
					</div>
					
					<div ng-if="details.params.room_id == 'WHKL'">
						<div><script src="http://tour.vrglobal.co/embed/embed.js" async data-panorama="2d84251756399b377be6d3b4e12f78e10124d989" data-initial-width="400" data-auto-open="false" data-hide-caption="false" data-initial-height="200" data-preview="http://169.54.26.184:3000//uploads/media_content/picture/0/processed_369187aec1f71f1f635189ff07a681ee7b6e911964f4da764e93ba32eb8132ad.jpg" data-quality="auto"  data-percentage-mode="false" data-percentage-mode-height="false" data-title="Luxury King Bedroom" > </script></div>
					</div>
					
					<div ng-if="details.params.room_id == 'WHQQ'">
                        <div><script src="http://tour.vrglobal.co/embed/embed.js" async data-panorama="8615d559ce89223a60e37bb2398f3dea3e477dc2" data-initial-width="400" data-auto-open="false" data-hide-caption="false" data-initial-height="200" data-preview="http://169.54.26.184:3000//uploads/media_content/picture/0/processed_190a2fd01de6be37bc2e6bab6edc126ed63115cd20e3170ffb815ab7206de999.jpg" data-quality="auto"  data-percentage-mode="false" data-percentage-mode-height="false" data-title="Two Queen Bedroom" > </script></div>
                    </div>
					
					<div ng-if="details.params.room_id == 'WHKTS'">
						<div><script src="http://tour.vrglobal.co/embed/embed.js" async data-panorama="f1a413d36d8053a57c71f909350af8ea5753fba4" data-initial-width="400" data-auto-open="false" data-hide-caption="false" data-initial-height="200" data-preview="http://169.54.26.184:3000//uploads/media_content/picture/0/processed_dcaf5274c1b7265992193197066d88f9d4d268eaa3093b3a9bd39e3a0a059a47.jpg" data-quality="auto"  data-percentage-mode="false" data-percentage-mode-height="false" data-title="Times Square View King" > </script></div>
					</div>
					
					<div ng-if="details.params.room_id == 'WHKS'">
						<div><script src="http://tour.vrglobal.co/embed/embed.js" async data-panorama="56060a875e8c9b15f99e0782dbb1c7b470230b21" data-initial-width="400" data-auto-open="false" data-hide-caption="false" data-initial-height="200" data-preview="http://169.54.26.184:3000//uploads/media_content/picture/0/processed_24a749283effc450b316691e19ee7ff1363fb6c02f49cc40f71147359bb25817.jpg" data-quality="auto"  data-percentage-mode="false" data-percentage-mode-height="false" data-title="One Bedroom Suite" > </script></div>
					</div>
					
					<div ng-if="details.params.room_id == 'WHKST'">
                        <div><script src="http://tour.vrglobal.co/embed/embed.js" async data-panorama="498ef7a05c2a7bbdf55aef2603dcfa189313c97c" data-initial-width="400" data-auto-open="false" data-hide-caption="false" data-initial-height="200" data-preview="http://169.54.26.184:3000//uploads/media_content/picture/0/processed_0b0de199f2fa38f017be170fe55ddd3958b18d8938468091976f6747262316e5.jpg" data-quality="auto"  data-percentage-mode="false" data-percentage-mode-height="false" data-title="Terrace Suite" > </script></div>
                    </div>
					
					<div ng-if="details.params.room_id == 'WHPS'">
						
                    </div>
					
					<div ng-if="details.params.room_id == 'WHPRS'">
                    </div> -->
				
                </div>

				<div class="roomreservations" rt3-recent-bookings="recent">
					<div class="reservations">[[recent.totalBookings]]</div>
					<p>reservations in the last 48 hours</p>
					<div class="reservenowbutton" ng-show="details.brg.discounted_rate">
    			        <form action="https://westhousehotelnewyork.reztrip.com/en/bookings" method="POST">
                          <input type="hidden" name="rooms" value="[[details.params.rooms]]"/>
                          <input type="hidden" name="adults" value="[[details.params.adults]]"/>
                          <input type="hidden" name="children" value="[[details.params.children]]"/>
                          <input type="hidden" name="arrival_date" value="[[details.params.arrival_date]]">
                          <input type="hidden" name="departure_date" value="[[details.params.departure_date]]">
                          <input type="hidden" name="room_id" value="[[details.params.room_id]]" >
                          
                          <input type="hidden" name="avg_brg_discounted_price" value="[[details.brg.avg_brg_discounted_price]]"/>
                          <input type="hidden" name="avg_brg_original_price" value="[[details.brg.avg_brg_original_price]]"/>
                          <input type="hidden" name="action_name" value="details"/> <!-- magic constant value -->
                          <input type="hidden" name="is_brg_room" value="[[details.brg.show_brg]]"/>
                          <input type="hidden" name="is_brg_request" value="[[details.brg.show_brg]]"/>
                          <input type="hidden" name="discount_threshold_exceeded" value="[[details.brg.discount_threshold_exceeded]]"/>
                          <input type="hidden" name="brg_rate_rule_name" value="[[details.brg.dpr_name]]"/>
                          
                          <input class="button2" type="submit" class="btn btn-success btn-submit" value="Reserve now">
                        </form>
    				</div>
				</div>
				

			</div>
		</div>
		
		<!-- <div id="roomrelated">
			
			<div class="container">
			
				<div class="relatedtitle">you might also enjoy</div>
				
				<ul>
					<li style="background-image: url(images/roomslist1.jpg);">
						<a href="#"><h3 class="roomtitle">terrace suite</h3></a>
					</li>
					<li style="background-image: url(images/roomslist1.jpg);">
						<a href="#"><h3 class="roomtitle">prestige suite</h3></a>
					</li>
				</ul>
			
			</div>
		</div> -->
</div>
		
{% include footer.html %}