{% assign template_class = 'page-rooms' %}

{% include header.html %}

		
		<div id="featuredcontent" style="background-image: url(/assets/images/6142/original/westhouse-hotel-new-york-hotel-room.jpg);">

			<h1 class="contenttitle">Rooms & Suites</h1>

			<div class="reserve"><a class="button1" href="#">Reserve</a></div>

		</div>

		<div id="contentwidget">
		   <div class="logo"><a href="/"><img src="/assets/images/712/original/logo3.png" alt="logo3" /></a></div>

           <!-- include booking form -->

            {% include booking_form_interior.html %}

            <!-- // include booking form -->
		</div>

		<div class="subnav">
			<ul>
			    <li class="ng-scope">
                    <a href="/room#WHQL">Luxury Queen</a>
                </li><li class="ng-scope">
                    <a href="/room#WHK">King</a>
                </li><li class="ng-scope">
                    <a href="/room#WHKL">Luxury King</a>
                </li><li class="ng-scope">
                    <a href="/room#WHQQ">Two Queens</a>
                </li><li class="ng-scope">
                    <a href="/room#WHKTS">Times Square View King</a>
                </li><li class="ng-scope">
                    <a href="/room#WHKS">One Bedroom Suite</a>
                </li><li class="ng-scope">
                    <a href="/room#WHKST">Terrace Suite</a>
                </li><li class="ng-scope">
                    <a href="/room#WHPS">Prestige Suite</a>
                </li><li class="ng-scope">
                    <a href="/room#WHPRS">Presidential Suite</a>
                </li>
			</ul>
		</div>
		
		
        <div class="subnavmobile">
          <ul>
            <li class="ng-scope"><a href="/room#WHQL">Luxury Queen</a></li>
            <li class="ng-scope"><a href="/room#WHK">King</a></li>
            <li class="ng-scope"><a href="/room#WHKL">Luxury King</a></li>
            <li class="ng-scope"><a href="/room#WHQQ">Two Queens</a></li>
            <li class="ng-scope"><a href="/room#WHKTS">Times Square View King</a></li>
            <li class="ng-scope"><a href="/room#WHKS">One Bedroom Suite</a></li>
            <li class="ng-scope"><a href="/room#WHKST">Terrace Suite</a></li>
            <li class="ng-scope"><a href="/room#WHPS">Prestige Suite</a></li>
            <li class="ng-scope"><a href="/room#WHPRS">Presidential Suite</a></li>
            <div class="clear"></div>
          </ul>
          
          <div class="subclose"><i class="fa fa-bars"></i><span>View More Rooms</span></div>
        </div>

		
		<div id="roomsintro">
			<div class="container">
				
				<div class="roomcontent">
					<div class="col3 htitle">
						<h2>Rooms & Suites</h2>
					</div>
					
					
					<div class="col3">
						{% region content %}
					</div>
					<div class="col3">
						{% region content_two %}
				</div>
			</div>
		</div>
		
		<div id="roomslist">
		
	



			<ul rt3-rooms-browser="browser">
				<li ng-repeat="room in browser.rooms" style='background-image: url([[room.photos[0].yankee_large]]);'>
					<a href="{{ 'luxury-rooms-suites-nyc/room' | permalink }}#[[room.code]]"><h3 class="roomtitle">[[room.name]]</h3></a>
				</li>
			</ul>
		</div>
		

{% include footer.html %}