{% assign Offers = page %}
{% assign model = page %}
<html>
    <head>
        <title>{{page.title}}</title>
{% if page.meta_description %}<meta name='description' content='{{page.meta_description}}'>{% endif %}
{% if page.meta_keywords %}<meta name='keywords' content='{{page.meta_keywords}}'>{% endif %}
<!--<link rel='canonical' href='{{ page.permalink}}' />-->
<link rel="canonical" href="https://www.westhousehotelnewyork.com{{ page.url }}" />
    </head>
    <body>
        <p>Offers variable:</p>
        <p>{{ Offers }}</p>
        
        <p>Model {{ model.seo_title }}</p>
    </body>
</html>