{% assign template_class = 'page-dining' %}

{% include header.html %}
		

    <div id="featuredcontent" style="background-image: url(/assets/images/save-the-children-banner.jpg); min-height: 450px; height: 450px;">

            <h1 class="contenttitle">Save The Children</h1>

        </div>

	<div id="dining">
		<div class="container">
			<div class="dining-container">
		<!-- save the girl child setion start-->
		<section class="save-the-child-section" style="background-color: #fff; padding-top:40px;">
		            <div class="save-the-child-container">
		            <div class="logo-container" >
		            <img src="/assets/images/save-the-child-logo.png" alt="Save The Children"/>
		            </div>
		            <div class="description-container" >
		            <div class="description-center">
		            <h2>DONATE TODAY & MAKE A DIFFERENCE</h2>
		            <p>Highgate and its portfolio of properties proudly support Save the Children, an organization that helps children in 120 countries, including the United States. Save the Children invests in childhood by giving children a healthy start, the opportunity to learn and protection from harm. By supporting this cause, Highgate helps to transform children’s lives now, in order to change the course of their future – and ours.</p>
		            </div>
		            </div>
		            <div class="button-container" >
		            <a href="https://www.gofundme.com/highgate-2017-winter-campaign" target="_blank" class="button-common">DONATE NOW</a>
		            </div>
		            <div class="clear-both"></div>
		            </div>
		</section>
		<!-- save the girl child setion end-->

                </div>

            </div>

        </div>

		
{% include footer.html %}
