{% assign template_class = 'terms-of-use' %}

{% include header.html %}

        <div id="featuredcontent" style="background-image: url('/assets/images/4912/original/westhouse-hotel-new-york-entrance.jpg');">
		
			<!--<h2 class="contenttitle"></h2>-->
			
			<!--<div class="reserve"><a class="button1" href="#">Reserve</a></div>-->
			
		</div>
		
		<div id="contentwidget">
		   <div class="logo"><a href="/"><img src="/assets/images/712/original/logo3.png" alt="logo3" /></a></div>

           <!-- include booking form -->

            {% include booking_form_interior.html %}

            <!-- // include booking form -->
		</div>
		
		<div class="subnav">
		</div>
		
		<div id="maincontent">
		
			<div class="container">
		
				{% region terms-of-use %}
			
			</div>
		
		</div>
		

{% include footer.html %}