{% assign VRTour = page %}
{% assign model = page %}
{% assign template_class = 'page-vr-tour-single' %}
{% assign seo_title = VRTour.seo_title %}
{% assign seo_description = VRTour.seo_description %}

{% include header.html %}

		<div id="featuredcontent" style="background-image: url({{ VRTour.image_banner }});">

			<h1 class="contenttitle">{{ VRTour.title }}</h1>

			<div class="reserve"><a class="button1" href="#">Reserve</a></div>

		</div>
		
		<div id="contentwidget">
		   <div class="logo"><a href="/"><img src="/assets/images/712/original/logo3.png" alt="logo3" /></a></div>

           <!-- include booking form -->

            {% include booking_form_interior.html %}

            <!-- // include booking form -->
		</div>

		<div class="subnav">
			<ul>
			
			    {% for VRTour in site.data._models.VRTour %}

        		<li><a href="{{ VRTour.id | permalink: model_dir: 'virtual-tour' }}">{{ VRTour.title }}</a></li>
                {% endfor %}
				
			</ul>
		</div>
		
		
        <div class="subnavmobile">
          <ul>
            {% for VRTour in site.data._models.VRTour %}
			<li><a href="{{ VRTour.id | permalink: model_dir: 'virtual-tour' }}"><span>{{ VRTour.title }}</span></a></li>
            {% endfor %}
            <div class="clear"></div>
          </ul>
          
          <div class="subclose"><i class="fa fa-bars"></i><span>View More Virtual Tours</span></div>
        </div>
		
		<div id="maincontent">
		
			<div class="container">
			
				<h1 style="text-align:center;">{{VRTour.title}}</h1>
    				<div class="vr-box" style="text-align:center;">
    			        <script async src="http://static.vrglobal.com/embed.js"></script>
    			        <vrglobal-embed options={"size":"fixed","width":"90%","height":"480px","quality":"auto","hash":"{{ VRTour.vr_url_key }}"}></vrglobal-embed>
    			    </div>
			</div>
			
		</div>

{% include footer.html %}